[2016-12-12 17:45] supasate opened #1 "Time Travelling does not work"
With Redux DevTools, everything seems to work well except time travelling.

[2016-12-12 17:46] supasate opened #2 "Add unit tests"
Add tests for several scenarios such as checking whether it creates redux actions when history has been changed.

Todos
- [x] Test action creators (#11)
- [x] Test reducer (#12)
- [x] Test middleware (#14)
- [x] Test ConnectedRouter(#20)

[2016-12-16 16:02] davekiss opened #3 "router.location is null on pageload"
@supasate Thanks for your effort on this project, giving it a whirl to see how it goes.

I'm unsure if this is the intended behavior, but it seems that `router.location` is `null` in state until I actually navigate with a Link helper, at which point it populates with the expected data.

Is there a way to ensure this data is present on pageload from the initial route, or am I doing something wrong?

[2016-12-16 17:06] bazalev opened #4 "@@router/LOCATION_CHANGE fires twice"
The first listener subscribes in syncHistoryWithStore and the second in ConnectedRouter constructor.
Is it correct to fire this action twice on each transition?

[2016-12-16 17:42] bazalev commented on #4
Actually, I don't understand the purpose of calling syncHistoryWithStore(history, store).
We do the same thing in ConnectedRouter's constructor.
I didn't see any changes in behavior after deleting this syncHistoryWithStore call.

[2016-12-16 17:43] supasate commented on #4
Yes. You're right. `syncHistoryWithStore` is useless now. I'll remove it in the next release.

[2016-12-16 17:44] supasate commented on #3
Thank you for reporting this issue. I will fix it.

[2016-12-16 17:48] #3 closed

[2016-12-16 17:58] #4 closed

[2016-12-16 18:04] supasate commented on #3
@davekiss Already fixed in v1.0.0-alpha5! Let's try and let me know.

[2016-12-16 18:04] bazalev commented on #4
You're really React-ive guy ))
Thanks!

[2016-12-16 18:04] supasate commented on #4
@bazalev Already fixed in v1.0.0-alpha.5!

[2016-12-16 18:06] bazalev commented on #4
Awesome!
Thank you!

[2016-12-20 18:39] dictions commented on #1
Hey there, I think I can tackle this since it's blocking for me. Any insight as to why this might be?

[2016-12-20 20:17] supasate commented on #1
Nice catch!

`ConnectedRouter.js` should be changed like you proposed.

Can we just create a history instance in `reducer.js` like the below code instead of passing `history` object to it? So, it'll be easier for setting up the root reducer; especially, we we make `rootReducer' as a separate file.

[code]

[2016-12-20 20:33] dictions commented on #1
@supasate I thought about that, but I have reservations because:

1. It becomes less testable because we're using `createBrowserHistory` which is dependent on `window` right?
2. We need to expose the `history` object somehow so that `StaticRouter` has access to it, right?

If we passed it in, it could be mocked in a testing environment, and we would give `StaticRouter` access to it for `push`, `re

[2016-12-21 10:14] supasate commented on #1
@dictions I agree with testability.

The `history` object need to be passed to `Provider`, `store`, and `rootReducer`. If they are in separated files, the `rootReducer` might need to be transformed to a function that takes `history` object in.

However, I'd like make it simple by not changing the way most people do with the `rootReducer` file with the benefit of only initial state in the reducer.

[2016-12-21 21:36] dictions commented on #1
Yeah it's a tricky one. You either have to pass it to your `rootReducer` and make that a generator. Or, you'll need to create and colocate history with your `rootReducer`, making it not testable in the same way. What if the API was similar to redux `connect`?

[code]

Is that too ridiculous?

[2016-12-23 08:49] supasate commented on #1
@dictions I think it's a nice solution. Based on your code, I fixed some bugs and Time Travel works great now (except URL bar is not updated which we may fix it as another issue).

[code]

Would you like to submit a PR to be a contributor of this idea?

[2016-12-23 14:50] dictions commented on #1
Looks great! I'll submit a PR in a bit.

I noticed that the URL bar was out of sync w/ the router reducer. I can't seem to figure out a solution to that though, as it would involve sending undo payloads to the browser history, and keeping track of the "real" browser history in memory.

My best example would be this:
1. Start on Page A
2. Nagivate to Page B
3. Go back in browser history to Page A (

[2016-12-23 16:45] #1 closed

[2016-12-23 18:41] supasate opened #8 "URL is out of sync in Time Travel mode"
Redux DevTools works fine. Time Travel works fine except the URL bar is not changed when we rewind the state.

[2016-12-23 18:45] supasate commented on #8
@dictions I made it as a new issue. We can leave it until there is a real need to use this feature or we can think of some better ways to do it.

I can think of a hacky way by breaking a uni-directional flow in this mode (so I don't want to use it yet). Assume we can check whether we are in time travel mode (not sure it is possible or not). When router state is changed, we push URL directly to `hi

[2016-12-23 18:46] supasate commented on #1
About synchronizing URL in Time Travel mode, I've created a new issue #8 for this topic.

[2016-12-28 10:14] #8 closed

[2016-12-29 01:22] supasate opened #17 "Module not found: Error: Cannot resolve module 'babel' in /path/to/connected-react-router/lib @ ../lib/index.js"
This problem occurs when we test `examples` folder by linking with local `connected-react-router` folder (for development) and the linked folder has no `babel-loader`.

**Steps to reproduce**

1. At folder `connected-react-router`, run `yarn link`.
2. At folder `examples`, run `yarn link connected-react-router`.
3. At folder `examples`, run `npm run dev`.

[2016-12-29 01:29] #17 closed

[2016-12-29 01:40] supasate commented on #17
Note: Fixed by adding `resolveLoader` to webpack in examples folder.

[2016-12-31 01:33] #2 closed

[2017-01-10 05:09] csillag opened #21 "In Time Travel, URL is only updated if the path changes, the search is ignored"
The [current version of the code] only compares the `pathname` part of the location, to detect time travel debugging, but it totally ignores the `search` part of the location. (ie. ?foo=bar)

Therefore, if during time travel, the only changes in the URL happen in the search part, the change is ignored, and the URL is not updated.

It would be nice to fix this. (One simply has to check the search p

[2017-01-10 17:17] csillag opened #22 "Using with Immutable.js"
Does this library support using Immutable.js with Redux?
If not, it would be nice to add it.

[2017-01-10 23:37] supasate commented on #21
You're right. It should check the `search` part also. I'll look into this issue this weekend (and very welcome if you'd like to make a PR).

[2017-01-10 23:39] supasate commented on #22
I never try with `Immutable.js` yet. Is there anything that can affect the result?

[2017-01-16 22:52] slightlytyler opened #24 "Working with v4-alt of react-router"
Looks like `StaticRouter` is gone, any ideas how to proceed? First time diving into v4 code base so not exactly sure what the change means in terms of required updates.

[2017-01-17 02:08] supasate commented on #24
Yes. I'm aware of that. Currently, `v4-alt` won and became the next `v4`. I'm waiting for their new release/tag before upgrading.

[2017-01-17 04:41] slightlytyler commented on #24
@supasate awesome, hopefully sometime this week!

[2017-01-17 16:19] olegstepura opened #25 "Webpack 2?"
Since all the stuff here is currently in non-release phase,  don't you think you can create examples with Webpack2 (which is beta as well)?

It looks like hot reloading of `App` component should become easier (less code in index.js)

[2017-01-17 16:32] supasate commented on #25
I think other stuffs that are not directly approached by this library (`react-router` and `react-hot-loader`) will keep using the stable version. So, I hope it will make less noise for most users.

[2017-01-18 09:11] olegstepura commented on #25
Maybe it would make sence to have it separate?

[2017-01-18 15:57] supasate commented on #25
Good news. Webpack 2 will be out of beta soon https://medium.com/webpack/webpack-2-2-the-final-release-76c3d43bf144#.gcedwp66e.

[2017-01-19 14:00] #21 closed

[2017-01-19 14:09] supasate commented on #21
@csillag Already fixed in `v2.0.0-alpha.5`.

[2017-01-23 16:14] ecozoic commented on #22
I was playing around with Immutable.js this weekend so I decided to give this a try.

You can see an example of how this would work w/ Immutable in my fork: https://github.com/ecozoic/connected-react-router/pull/1/files

These changes assume your entire state object is an Immutable iterable (so you are using a library like redux-immutable). I've seen examples where the state object itself is mutab

[2017-01-24 13:50] olegstepura commented on #25
Webpack 2 is released.

[2017-01-27 08:46] supasate commented on #25
Already changed the example to use Webpack 2! (https://github.com/supasate/connected-react-router/commit/fb419ff529433c424238aef8851f8fcc430b6a81)

[2017-01-27 08:47] #25 closed

[2017-01-28 17:47] supasate commented on #22
Thanks @ecozoic. I understand it now. I may provide `useImmutable` option to make it simple to use. (If you would like to submit a PR, it is welcome!)

I'm not sure how often people use other ways to select value from the state object. So, I may provide an option to specify selector function in the future if there are several requests on this feature.

[2017-01-29 12:58] nickwaelkens commented on #22
I had made my own fork of this project supporting ImmutableJS, but it would be kind of stupid to make a separate PR when @ecozoic works wonders already! Great work.

I was wondering what the best API would be if you would support Immutable out of the box? One example is `redux-form`, eg it has 2 ways to import things;

`import { Field } from 'redux-form'`
`import { Field } from 'redux-form/immutab

[2017-01-30 09:21] olegstepura commented on #24
I'm sorry to ask this, but I'm kid of lost (but I'm sure I'm not the only one).

1. What is the status supporting react-router@alpha atm?
2. Is currently released `react-router@4.0.0-alpha.6` the one that was the `v4-alt` version and it requires changes from `connected-react-router` side to make it work?
3. Maybe you can also make it clear if this readme is actual for next version of react router:

[2017-01-30 16:31] supasate commented on #22
@nickwaelkens I like the way `redux-form` did. I might go that path.

[2017-01-30 16:48] supasate commented on #24
@olegstepura That's fine. The situation of react-router is confusing.
1. Now, `connected-react-router` supports `react-router@4.0.0-alpha.6` which is the the version with `Match` and `Miss`. (Read more below.)
2. `react-router@4.0.0-alpha.6` is the version before `v4-alt` (current `v4`). It doesn't require any change to `connected-react-router`. (Read more below.)

I just noticed that, around 40 m

[2017-01-30 18:55] supasate commented on #24
Now, we support the new `react-router@4.0.0-beta`! (PR #28)

Please check the `connected-react-router@4.0.0-beta.1`. If anyone finds any issue, please let me know.

[2017-01-30 18:55] #24 closed

[2017-01-31 15:10] olegstepura opened #30 "Is this a replacement for the ControlledRouter component?"
Hi!
I've just [found this](https://github.com/ReactTraining/react-router-addons-controlled) digging react router repos. I didn't inspect it too deeply but for me it seems like it's almost the same as this package.

Is this different? Or will the `ControlledRouter` replace need for this package when it's ready?

Thanks!

[2017-01-31 18:07] supasate commented on #30
Short answer is yes. This is a replacement for the `ControlledRouter`.

AFAIK `ControlledRouter` uses two-way data flow but `ConnectedRouter` uses one-way data flow (follows the React/Flux way) and simplifies the logic inside.

This project was originated from the [discussion](https://github.com/reactjs/react-router-redux/pull/460#issuecomment-260999726) by @lourd and @timdorr.

[2017-02-01 09:13] olegstepura commented on #30
Thanks for the answer and the project =)
[The say it's Redux implementation](https://github.com/ReactTraining/react-router/tree/v4#what-about-redux), it was strange if it's two-way data flow. But the discussion you mentioned makes it clear what the difference is.

BTW, Did you fix the time travel feature?

[2017-02-01 09:25] supasate commented on #30
Yes. It works!

[2017-02-01 10:09] #30 closed

[2017-02-04 17:34] supasate commented on #22
Hi all, I've made it support `Immutable.js` already in the `4.0.0-beta.3` release.

Just import `ConnectedRouter`, `routerMiddleware` and `connectRouter` from `connected-react-router/immutable`.

See more details [here](https://github.com/supasate/connected-react-router#how-to-support-immutablejs).

[2017-02-04 20:09] nickwaelkens commented on #22
Great work @supasate. Will try this out soon but looks good!

[2017-02-06 15:56] #22 closed

[2017-02-09 18:35] ecozoic commented on #22
Yes thanks so much @supasate ! Adding this to my react-starter and it seems to be working great!

[2017-02-10 01:18] supasate commented on #22
@ecozoic Cool! Great to know it works for you!

[2017-02-12 00:48] supasate opened #33 "Add UMD build"

[2017-02-13 22:11] BerndWessels opened #34 "Example for query strings needed"
Hi

Could you please provide an example how to deal with query strings please.

`/list?id=5&sort=true`

how would a `<Route>` look like that matches and how to extract the params `id` and `sort`?

[2017-02-14 08:09] itsrifat commented on #34
Your route would look like:

[code]

Now somewhere in your app you can have a link, clicking which you will be taken to `SomeComponent`:

[code]

And in your `SomeComponent`:

[code]
 search will contain `id=5&sort=true`. You can use something like [query-string](https://www.npmjs.com/package/query-string) to parse further

[2017-02-15 10:33] supasate commented on #34
In the case that your nested children components want to access the router state directly without passing from their parents' props, you can try this way.

[code]

I'm going to update the docs.

[2017-02-15 10:58] supasate commented on #34
I already updated [README](https://github.com/supasate/connected-react-router#how-to-get-current-browser-location-url) and changed the [example](https://github.com/supasate/connected-react-router/blob/master/examples/basic/src/components/HelloChild.js).

[2017-02-15 10:58] #34 closed

[2017-02-19 09:41] #33 closed

[2017-02-19 10:06] supasate opened #36 "Browser history stack is modified when time travelling"
Currently, when we do time travelling, the ConnectedRouter tries to change the URL bar to match the router state in the redux store (which is changed by Redux DevTools) by using `history.push` (see [here](https://github.com/supasate/connected-react-router/blob/fa53a6238fbd6adbe63c487e482b8b269eb4393d/src/ConnectedRouter.js#L40)).

This method seems to work fine, however, internally, the real brows

[2017-02-20 23:46] cescoferraro opened #37 "Warning: forceUpdate"
I want the connected-react-router functionalitty to integrate my app better with redux-obeservables.
All works but I keep seeing the force Update error

[code]

[code]

[code]

[2017-02-21 02:31] supasate commented on #37
Hi @cescoferraro. I never try redux-observables. I'll check it.

Btw, could you provide a minimal repo that still causes this problem? Thanks!

[2017-02-21 02:31] joaosoares opened #38 "Access match object in reducer"
It doesn't seem like it is possible to access the match object in the reducer. Should there be a way to connect a specific Route so that its state is saved to the reducer as well? Something like

[code]

that would generate the state

[code]

This would basically make the reducer state be the same as the Router object received from the `withRouter` connector.

[2017-02-21 08:28] Neophy7e opened #39 "Plan to support SSR"
Do there is any plan to support server side rendering  ?

[2017-02-21 09:09] supasate commented on #38
IMO, the reducer state cannot be the same with the router object received from `withRouter`.

With `withRouter`, it provides props for a single route. However, the proposed `ConnectedRoute` can be applied to multiple routes.

We might provide additional `key` prop to `ConnectedRoute` like this:

[code]

Then, if the URL is `/example/supasate/pencil`, the reducer state might be like this:
[code]

H

[2017-02-21 16:42] joaosoares commented on #38
That's true. Maybe we could connect the `<Switch />` components, since they match exclusively with a route?

The key property would still have to be set, but the coupling would happen on a higher-level, as there are usually fewer switches than routes and they're less likely to change dynamically.

[code]

The state for `/example/supasate` could be
[code]

And the state for `/other/someid` would be

[2017-02-22 02:44] supasate commented on #38
Yes, the coupling still exists. A component needs to know that it will be wrapped in which key of `ConnectedSwitch`.

Compared to connecting a route directly with `ConnectedRoute` in the previous comment, I prefer `ConnectedRoute` to `ConnectedSwitch` because it's quite straightforward about mapping one-to-one of the `match` we need and the state in redux store. Anyway, I still don't like how coup

[2017-02-22 02:49] supasate commented on #39
Yes. I'm also thinking about it. Hope that it would be done soon.

Anyway, PR is also welcome :).

[2017-02-22 08:52] cescoferraro commented on #37
@supasate here its the branch I tried to hook up the connected-router.
Do you have a jsbin template I can try to reproduce this?

[2017-02-22 09:24] cescoferraro commented on #37
its seems that it breaks here
https://github.com/supasate/connected-react-router/blob/fa53a6238fbd6adbe63c487e482b8b269eb4393d/src/middleware.js#L14

[2017-02-22 21:19] cescoferraro commented on #37
But the cause it most likely to be this

![redux](https://cloud.githubusercontent.com/assets/6259987/23232796/5c277d7e-f92b-11e6-9a6e-8b48adf9b097.png)

@@router/LOCATION_CHANGE get fired twice by this simple button

[code]

[2017-02-22 21:45] guywald1 commented on #39
+1

[2017-02-22 21:54] joaosoares commented on #38
I agree this still needs some thought. For now, the workaround I found was to create a static route config and use the `matchPath` function provided by React Router to avoid parsing the current path manually.

[2017-02-22 23:02] cescoferraro commented on #37
The issue here is this
https://github.com/ctrlplusb/react-async-component#server-side-rendering-application

withAsyncComponents renders the the whole app twice to do some optimizations (??), but removing it from the client side didnt seem to bother my async component what so ever. So problem solved.

now I get to use redux-observables and write cool epics

[code]

[2017-02-22 23:02] #37 closed

[2017-02-23 03:42] supasate commented on #37
I never try `react-async-component` also. Anyway, great to hear that your problem was solved!

[2017-02-28 10:08] nickwaelkens commented on #39
Would love to get this too! Keep up the good work @supasate!

[2017-03-06 19:21] manuporto opened #40 "Cant run basic example"
I'm running `yarn` and then `npm run dev` but I receive the following errors:

[code]
I also leave the log as requested.

[2017-03-06T19_14_06_653Z-debug.log.zip](https://github.com/supasate/connected-react-router/files/822208/2017-03-06T19_14_06_653Z-debug.log.zip)

[2017-03-06 19:25] manuporto commented on #40
I'm sorry, I didn't read the Error.

[2017-03-06 19:25] #40 closed

[2017-03-08 13:52] paradoxxxzero commented on #39
Would be great!

For now I'm using the following hack, I get the `StaticRouter` history like this:
[code]
and then use it in:
[code]
and:
[code]
It works but... yeah

[2017-03-09 11:03] kaleidoc0de commented on #39
I haven't written up or tested anything but
I'd propose defining an environment variable in webpack to check if it is destined for the browser
and then use the correct type of history object to pass to the router reducer
`
import { createMemoryHistory, createBrowserHistory } from 'history'
`
...
`
const History = (process.env.BROWSER) ? createBrowserHistory() : createMemoryHistory
`
...
`
connectR

[2017-03-09 13:19] kaleidoc0de commented on #39
after trying the above, I recieved the following error message.
`
Warning: Failed prop type: The prop 'history.listen' is marked as required in 'ConnectedRouter', but its value is 'undefined'.
`

I'll have a closer look at connected router to see if some support can be added for a memory history object

[2017-03-09 15:29] paradoxxxzero commented on #39
Maybe react-router should expose the StaticRouter history for direct use?

[2017-03-09 16:57] Neophy7e commented on #39
@paradoxxxzero Your solution seems to work well on my side, beside one issue I'm not sure if it's related to your solution.

When I have server side rendering enabled the action `@@router/LOCATION_CHANGE` is being fired twice when I disable server-side rendering the action is fired normally.

Any idea where it may come from ?

[2017-03-10 19:02] timdorr opened #41 "Collaboration"
Hey @supasate. I was thinking of just emailing you, but I'd rather have this transparent and out in the open.

I'm working on Redux integration for React Router 4.0 (to be released shortly!) and have a preliminary PR in progress here (also to be released shortly!): ReactTraining/react-router#4668

It's really just a minimal skeleton of what the project will eventually be (hence it's getting releas

[2017-03-11 06:04] supasate commented on #41
Hi @timdorr. That's a great idea! I'd love to contribute to the main monorepo and join the force!

I learned many things while making this repo (especially learning how `react-router` and your awesome `react-router-redux` really work!).

The things I love in this repo are one-way data flow to sync history and store, supporting time travelling, and supporting immutable.js (I also learn how to imple

[2017-03-11 19:42] timdorr commented on #41
So, the initial 5.0 version is [pretty basic](https://github.com/ReactTraining/react-router/blob/master/packages/react-router-redux/modules/ConnectedRouter.js). I'd love to work on time traveling first, since most folks are going to want that. Does your approach have any caveats when it comes to navigating and time traveling at the same time?

First steps are to open up a PR for that. Do you want

[2017-03-12 01:07] supasate commented on #41
The current caveat is #36. If a user doesn't click the forward or back button of his/her browser, it will work perfectly. However, my actual implementation is replacing the current browser URL stack with `push` because we don't know which exact position in the stack. If we know, we can use `go` instead.

However, @zalmoxisus just made this PR zalmoxisus/redux-devtools-instrument#15 a few weeks ago

[2017-03-12 06:53] harmon25 opened #42 "Route not changing - react-router 4.0.0"
Was working great, but seems to be some issue with the new 4.0.0 release of react-router...
Maybe I should be posting there...

I am mostly navigating with `push`
`@@router/LOCATION_CHANGE` actions are firing, URL bar is changing, but `Switch` doesn't appear to be matching...

Works on first load, but dispatching push just seems to change the URL...

Not getting any errors, just no routing! 😢

Hel

[2017-03-12 10:29] supasate commented on #42
Hi @harmon25,

I also try it [here](https://github.com/supasate/test-react-router-v4-with-connected-router/blob/master/src/index.js) and found no problem with `push` and `Switch`.

Could you make a minimal repo to reproduce the problem?

[2017-03-13 01:09] harmon25 commented on #42
Thanks for the response!
Your example works fine for me, trying to determine deltas as my implementation seemingly mirrors examples but experiencing this odd behaving on > v4.0.0-beta.6 of `react-router`

Just tried a couple things to no avail....
Thought maybe the `history` npm module was not aligned - installed `4.6.0` - that didn't do it...

Noticed I wasn't using `Switch` `Route` from `react-r

[2017-03-13 01:22] harmon25 commented on #42
OK - should have dug a bit deeper into the new react-router docs...
this solved it [blocked-updates](https://github.com/ReactTraining/react-router/blob/v4.0.0-beta.8/packages/react-router/docs/guides/blocked-updates.md)

Looks like I had an `<UpdateBlocker>`

Thanks for the help!

[2017-03-13 01:22] #42 closed

[2017-03-13 01:57] supasate commented on #42
Good to hear that!

[2017-03-15 18:32] supasate commented on #41
@timdorr I've made a [PR](https://github.com/ReactTraining/react-router/pull/4717) and need to discuss an issue about the initial store state and fails one of the test case.

[2017-03-15 19:33] timdorr commented on #41
Sorry, I've been wanting to reply, but haven't been able to give it the full attention the code deserves. I'll try to get to that in the next couple days!

[2017-03-17 02:02] pdiniz13 opened #44 "The example app won't work with react-routers v4 that's out of beta"
The example app works fine, but if you upgrade react-router to the released version 4.0.0 it crashes with TypeError: Cannot read property 'location' of undefined. Any ideas as to what could be causing this?

[2017-03-17 02:12] pdiniz13 commented on #44
This https://github.com/supasate/test-react-router-redux seems to be working fine. So i'm not sure whats the difference between the two

[2017-03-17 18:57] pdiniz13 commented on #39
@paradoxxxzero can you post a working example of your code please?

[2017-03-20 10:06] paradoxxxzero commented on #39
@Neophy7e I haven't tested location change server-side yet. So no sorry no idea.

@pdiniz13 My code may be summed up as:

[code]
`location` being the server url (req.url).

[2017-03-20 19:42] Elyx0 commented on #44
@pdiniz13 The repo you mentionned contains   "react-router-redux": "^4.0.8" and doesn't leverage connected-react-router. I'm also not sure which way is the best way to go between the two. Maybe @supasate would know

[2017-03-21 20:41] supasate commented on #44
Hi @pdiniz13, could you provide me more detail?
- When does it crash? (initial load, change location, etc)
- Could you provide me a minimal repo causing such error? I tried upgrading react-router to v4.0.0 and it still works fine.

Thanks!

[2017-03-22 09:48] supasate commented on #44
I just released v4.0.0 (out of beta) which uses react-router@4.0.0. The examples are also updated to use the latest release.

@pdiniz13 If you still face the problem, please let me know. (A minimal repo that reproducing the problem will be appreciated).

[2017-03-22 15:49] Elyx0 commented on #44
react-router-redux@next has fixed these issues too so I guess it's fine.

[2017-03-23 01:46] pdiniz13 commented on #44
@supasate the issue was that I had upgraded react-router but react-router-dom was still running on beta. Once i upgraded react-router-dom it solved the problem. I think its safe to close this.

[2017-03-23 02:37] supasate commented on #44
Good to hear that :)

[2017-03-23 02:37] #44 closed

[2017-03-24 10:53] hauptrolle opened #46 "Doesn't support "basename" prop correct"
Hi,

I have a problem when switching from "BrowserRouter" to your "ConnectedRouter".
On the router I have the prop "basename" set to "/foo/". So i want all my routes to be prefixed with /foo. For example "/foo/bar".
The connected router ignores the basename and serves all routes from /

[2017-04-02 09:51] anomaly44 opened #47 "Route Children do not get updated when location changes in some cases"
I can navigate to a private route, but when the location gets updated, the child component does not update.

as you can see in this gist:

https://gist.github.com/anomaly44/20ac888aa42eded0990cec15ce3ed1f1

I looked into updateblocking but since this is a child of a Route, this should not be happening?

[2017-04-03 14:31] anomaly44 commented on #47
I fixed it by also grabbing location from the router state ( in connect) and passing the location to my Route component in a random prop. Pretty dirty but it works.

so it's not a connected-react-router problem apparently.

[2017-04-03 14:31] #47 closed

[2017-04-11 21:04] djeeg opened #48 "error in ConnectedRouter when unsubscribe called with null store state"
Am getting this error

Think it is coming from here
https://github.com/supasate/connected-react-router/blob/master/src/ConnectedRouter.js#L28

[2017-04-28 03:34] supasate commented on #48
Could you help provide a minimal repo that causes this problem?

[2017-05-01 05:44] rakeshpai opened #52 "Initial page load"
Sorry if this is a basic question, but I couldn't find an answer, and I'm new to react/redux/router.

When the page loads initially, this module doesn't seem to dispatch any redux action. I have a URL, say /user/add, which displays a form to add a new user. When this URL is hit, I want to create a dummy user object with default values in the state, for the purposes of displaying the form correctly

[2017-05-07 04:55] supasate commented on #52
Yes, it's the expected behavior.  So, some components that need the location state can get it immediately when the page loaded without waiting for another dispatching.

In your case, can you use componentDidMount in your form to set state?

[2017-05-18 05:55] rakeshpai commented on #52
I could use componentDidMount. Certainly works for now. But I wanted to see if I can do this with only stateless components. Thanks for the answer! :)

[2017-05-24 16:17] olegstepura opened #54 "Uncaught TypeError: Cannot read property 'pathname' of undefined"
This happens to me when using HMR (only after I chnage something I'm working on). Strange enough but this happend on any action

![2017-05-24 18_18_09-mahjong backend_ player dashboard](https://cloud.githubusercontent.com/assets/534510/26413788/63337b8a-40ad-11e7-98b3-df6f55eaed2d.png)

I did not notice such behaviour with previous versions.

From `package.json`:
[code]

[2017-05-28 07:59] supasate commented on #54
Could you inspect more whether which LOC causes that error and what's the value of state in your redux store?

[2017-05-28 08:02] supasate commented on #48
Please feel free to re-open this issue if someone also has this problem and can provide reproducible repo.

[2017-05-28 08:02] #48 closed

[2017-05-28 08:22] supasate commented on #46
You can do that by passing it to `createBrowserHistory`.

Ex.
[code]

[2017-05-28 08:28] #52 closed

[2017-05-28 08:59] hauptrolle commented on #46
Nice, thank you! 😃

[2017-05-28 08:59] #46 closed

[2017-05-28 09:03] supasate commented on #46
I just updated the [doc](https://github.com/supasate/connected-react-router/blob/master/FAQ.md#how-to-set-router-props-eg-basename-initialentries-etc).

[2017-05-29 11:07] olegstepura commented on #54
Sure. It's the same as here: https://github.com/olegstepura/postcss-loader-test/blob/master/webpack.config.js

Actually whole config including `package.json` is almost the same.

[2017-05-29 11:38] olegstepura commented on #54
I'm using `hot modules replacement`. The error does not appear before a hot module update happens. But if I edit source of some component and it hot updates, this happens.

Also looks like this exception is the cause why `hmr` does not work causing full page reload atm:

![image](https://cloud.githubusercontent.com/assets/534510/26547721/bb53a4cc-4470-11e7-91c3-e5d6bfa12af3.png)

It's hard to trac

[2017-05-29 12:37] olegstepura commented on #54
[code]
When this happens `_toJS = undefined`

State:
![2017-05-29 14_24_35-mahjong backend_ player dashboard](https://cloud.githubusercontent.com/assets/534510/26549727/b06b16ee-447a-11e7-83d7-7e57ad7f1c9a.png)

[2017-05-29 13:13] olegstepura commented on #54
hmm, just before that I got a warning:
[code]

[2017-05-29 16:58] olegstepura commented on #54
I just tried downgrading, seems like this is not related to the fact I did upgrade recently.
So my sentence

makes no sence. I checked with previous versions of `connected-react-router`, `react-router` and `react-router-dom`, and the issue is still there.

Seems like `router.location` which is passed to  somehow is not actual in some case. Cannot find out why. Issue is located here: https://github

[2017-05-30 15:17] supasate commented on #54
That's interesting. Could you provide me a minimal repo that reproduces this problem? I'll try working on it then.

[2017-05-30 15:29] olegstepura commented on #54
Well, that's not easy, I'll try to provide one later this week.

[2017-06-03 12:40] dimatter commented on #54
not sure if related but I was having similar if not identical error due to importing the wrong ConnectedRouter.

`import { ConnectedRouter } from 'connected-react-router/immutable'`
instead of
`import { ConnectedRouter } from 'connected-react-router'`

[2017-06-05 11:07] olegstepura commented on #54
Thanks, @dimatter but that did not help. :(

[2017-06-06 11:00] iceekey commented on #54
The problem is you don't have `router` in your state when HMR patch applying. You should wrap your rootReducer into `**connectRouter**` function.

[code]

to:
[code]

[2017-06-06 11:14] olegstepura commented on #54
@iceekey Thanks a lot! The seem very reasonable. I tried this and after quick check did not face my issue. I'll work with this for some time and will report later if the issue is completely resolved.

[2017-06-08 10:58] #54 closed

[2017-06-08 10:59] olegstepura commented on #54
Seems like issue is resolved. Thanks, @iceekey

[2017-08-17 13:32] XuluWarrior opened #57 "Include history.length in redux state"
The history object has a length property which isn't reflected in the redux state.

I want to add a simple back button to my electron app and knowing when history.length == 0 would allow me to disable the button.

[2017-08-27 21:20] sjatkins commented on #42
I honestly don't see how this is good.  If I hit a Link or other route event I expect to route and render what I routed to.  Period.  I don't see how that is an unreasonable expectation.

[2017-09-05 20:21] merges commented on #39
Just wondering, is there any update on how to use `connected-react-router` for sever-side rendering?

[2017-09-18 00:31] eko24ive commented on #41
Hi @supasate,
It looks like your [PR](https://github.com/ReactTraining/react-router/pull/4717) was merged on 10th of May. I'd like to ask is this repo became deprecated or your features are more advanced in comparing to react-router repo? What is the current state of your collaboration on react-router package itself?
Thank you in advance for the answer !

[2017-09-19 09:17] LiquidHelium opened #58 "Initial Route Not Recorded In Actions"
More of a request than a bug.

I could be wrong but currently it looks like the initial route is gotten through the initial state of the reducer. This means it is not recorded in the actions history exported by redux-dev-tools. So importing the history and time traveling wont work properly unless you import in the same initial route as it was recorded in.

Could we initially dispatch a location-ch

[2017-09-28 09:33] tonoslav opened #59 "connected-react-router@4.2.3 requires a peer of react@^15.5.4 but none was installed"
After upgrade to react 16

[2017-10-23 09:08] odonnellnoel commented on #42
I'm running into this issue too. Has it been solved?

[2017-10-30 08:56] tonoslav opened #60 "Could not find a declaration file for module 'connected-react-router/immutable'"
After I started to use typescript, can I at least ignore it somehow ?

[2017-10-30 12:09] tonoslav commented on #60
My Fix until it is added

1. Create file for example **types.d.ts**
2. Type `declare module 'connected-react-router/immutable';` and save
3. Add into **tsconfig.json**
[code]

[2017-11-15 14:07] olegstepura opened #66 "How to determine if I can use goBack()"
I tried to do this: when I open my page, check for `history.length` and either use `goBack()` action if `history.length > 1` or some fallbackAction otherwise.

This works on first page open.

But if page has forward actions and no back actions, `history.length > 1` is true (it might be 3, 4, etc...), but there is no possibility to goBack and my goBack button looks broken (nothing happens for end u

[2017-11-15 14:11] olegstepura commented on #66
https://github.com/ReactTraining/history/issues/26 seem to be related, but old. Everything I found in `react-router` was old and seem to not affect version 4

[2017-11-19 09:44] #59 closed

[2018-02-23 14:22] jhwheeler opened #69 "Deploy to Subdirectory"
The sysadmin on our team needs to deploy our app to a subdirectory of the root url, rather than a subdomain (as I've always done it in the past).

I found various guides on how to do this with react-router, but nothing for this package.

Is there a straightforward way to do this? And if not...is there a roundabout way? ;)

Thanks!

[2018-03-16 14:53] djeeg opened #70 "ConnectedRouter incompatible with app shell offline pattern"
Trying to create a site using the app shell pattern with SSR+offline capability

eg
https://developers.google.com/web/tools/workbox/modules/workbox-routing#how_to_register_a_navigation_route
https://michaljanaszek.com/blog/combine-pwa-and-isomorphic-rendering
https://github.com/GoogleChrome/workbox/issues/796

A core tenet of this pattern is

Driven by respondWith
https://developer.mozilla.org/en-

[2018-03-21 20:43] Ciaran0 commented on #69
I would suggest trying
[code]

[2018-04-30 12:31] chardskarth opened #71 "Support for seamless-immutable structure?"
This library seems worth to support: https://github.com/rtfeldman/seamless-immutable

[2018-06-06 18:27] cereallarceny commented on #39
Would love to see an update here.  Or at least some documentation on the suggested workaround @supasate.

[2018-06-07 00:18] trungdq88 commented on #38
@joaosoares could you also share the way you are doing with `matchPath`? I am using `createMatchSelector` in `react-router-redux` and wondering if there is a same method in `connected-react-router`.

[2018-06-07 04:28] brneto commented on #38
Try this:
[code]

[2018-06-07 05:40] brneto opened #73 "Update peer dependency to Redux v4"
There is any known issue in update the peer dependency to Redux v4? Anyone would mind if I make a pull request to update Redux peer dependency to version 4?

[2018-06-07 09:25] TrejGun opened #74 "react-router-redux is deprecated"
Hi @supasate !

now when react-router-redux is deprecated you proably would be the best alternative
https://github.com/ReactTraining/react-router/commit/b1a77bceaf972dddb557b7ddd52131df91e15d14

the main concern about this project - it was not updated for a long time. please tell us about your plans? is this project still alive? can we expect updates?

PS and if yes, it would be good to have SSR b

[2018-06-09 11:16] ohjames commented on #74
The world now lacks any maintained solution for binding the router to redux? Angular has one via ngrx despite the react community popularizing the redux pattern, surprising it fell behind.

[2018-06-09 11:50] cereallarceny commented on #39
@supasate - I wrote a pretty in depth tutorial of how to implement SSR with Connected React Router.  It involves the suggestion above to opt into StaticRouter from React Router at the server level.

[Tutorial on Medium](https://medium.com/@cereallarceny/server-side-rendering-in-create-react-app-with-all-the-goodies-without-ejecting-4c889d7db25e)
[Example codebase](https://github.com/cereallarceny/

[2018-06-09 14:34] supasate commented on #74
I'll be back to start maintaining it again. But, my time is quite limited, so, if anyone is interested to help maintain the project, please let me know!

[2018-06-09 14:45] #73 closed

[2018-06-09 14:59] supasate commented on #41
Closing this issue as react-router-redux has been deprecated (https://github.com/ReactTraining/react-router/releases/tag/v4.3.0).

[2018-06-09 14:59] #41 closed

[2018-06-09 15:13] brneto commented on #73
@supasate Why it was closed?

[2018-06-09 15:46] brneto commented on #74
I’m not very experience on maintaining an GitHub project, but I would be very glad helping somehow!

[2018-06-10 14:14] supasate commented on #74
@brneto Thanks! Can you connect with me via my public email?

[2018-06-11 08:33] abenhamdine commented on #74
hi @supasate I can help a bit too

[2018-06-11 17:00] billschen opened #77 "Uncaught TypeError: e.history.listen is not a function"
I use aps.net mvc so I use UMD to include js files:
[history.min.js](https://unpkg.com/history/umd/history.min.js)
[prop-types.min.js](https://unpkg.com/prop-types@15.6/prop-types.min.js)
[react.development.js](https://unpkg.com/react@16/umd/react.development.js)
[react-dom.development.js](https://unpkg.com/react-dom@16/umd/react-dom.development.js)
[redux.min.js](https://unpkg.com/redux@4.0.0/dis

[2018-06-12 00:31] benbowes opened #78 "Does connected-react-router work with HashHistory?"
Does connected-react-router work with HashHistory?

[2018-06-12 04:21] linonetwo opened #79 "Expose routerReducer so it works with @rematch/core"
Regarding https://github.com/rematch/rematch/issues/409

@rematch/core is exposing a field to put rootReducers, but it can only receive a reducer, but not a function returning a reducer.  https://github.com/rematch/rematch/blob/master/docs/reduxApi.md#rootreducers

Can `connected-react-router` expose this reducer directly without high order function?
https://github.com/supasate/connected-react-rou

[2018-06-14 11:02] sidoruk-sv commented on #74
@supasate is there any plans to add Readme section about migrating from `react-router-redux`?

[2018-06-14 16:14] MikaelUmaN opened #80 "Make release compatible with redux 4"
Hi. I noticed you upped compatibility with Redux 4.

Is it possible to make a maintenance release for this? Redux 4 is quite a change from 3.x.

[2018-06-16 07:07] TrejGun commented on #74
@supasate good to hear
I'd like to help as I can

It would be good to make a realease soon, so these are my thoughts on what should be done (read: people want to see)

- [ ] bump, check and fix peer deps for redux 4 (redux, react-redux, redux-devtools, redux-devtools-extension)'

- [ ] fix SSR, use MemoryHistory or HashHistory (history, react-router-dom)

for example simple hack will work
[code]

[2018-06-27 14:28] rickerd opened #83 "Params from match in redux store"
I would love to use the params in the store form the router.
Now i only know the pathname and i need to do filtering to get the param i gave in the Route component.

Example:

[code]

[2018-06-27 15:18] rickerd commented on #42
I also have this problem.
When just using Link from react-router-dom the route is not changing.. i expect this to just work.
How else should this be done?

[2018-06-29 10:19] sergeysova commented on #83
@supasate

[2018-06-29 19:31] crobinson42 opened #84 "React.StrictMode warnings"
[code]

[2018-06-30 21:14] thmohd opened #85 "How can I access the params"
I managed to make this work in my project, however, I don't see params.
`location:
hash:""
key:"aymkl8"
pathname: "/about/mo/18HHaYQSUs6WUWIOMaYYiI"
search:""`

I need to access the id (18HHaYQSUs6WUWIOMaYYiI) in MapStateToProps. I see the id in the params normally inside the component.

[2018-07-01 19:09] lluistfc commented on #83
If you are using react-router v4 you can use the high order component [withRouter](https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/api/withRouter.md) as an alternative to enhance your component and have access to match params

[2018-07-01 19:22] rickerd commented on #83
@lluistfc thanks alot!
I've tried to make it work but i keep failing. I use some other things that maybe breaks the setup.
[code]

Can you help? I use react-redux, redux-thunk and connected-router.

[2018-07-01 20:59] axZerk commented on #85
There is a reason why route params are not included in redux state. What you probably want is this.

[code]

[2018-07-02 00:48] thmohd commented on #85
Thank you very much, that works.

[2018-07-02 00:48] #85 closed

[2018-07-02 03:04] shincysl commented on #80
Hi, we use the package from npm. Could you help to publish a release for the change? Thank you!

[2018-07-02 07:07] rickerd commented on #83
React-router-redux is using the unsafe methods that are in >=16.3 given as a warning.
Everything works except for navigating and accessing the match match object.

[2018-07-02 08:30] lluistfc commented on #83
Could I see some example? Right now i'm very busy and if I have time I could take a look at it maybe tonight or wednesday, but the idea is doing something like:
withRouter(connect(mapStateToProps)(Component)) and you can access location, match and history from your component props.
I haven't tried without a connected component. If this is your case I don't know if it will work  but in the document

[2018-07-02 08:35] rickerd commented on #83
It works! I've wrapped the most upper component with "withRouter()".
Thanks a lot for all the help and thoughts.

[2018-07-02 08:35] #83 closed

[2018-07-03 22:11] ngutzmann opened #86 "Using Immutable.js Record as state"
Hello,

I am using the [`Record`](http://facebook.github.io/immutable-js/docs/#/Record) object from Immutable.js, however there is no `filterNot` function as there is for the `Map` type. Is there a recommended way of using connected-react-router with the `Record` type?

[2018-07-04 20:51] marekciupak opened #88 "Navigate through a custom action"
Hi,

I would like to dispatch a single action that updates both `search` (query string in the url) and other part of the regular (not router-related) redux state. Is it possible?

Best,
Marek

[2018-07-04 22:28] jacargentina opened #89 "Question on react-router docs about redux "deep integration""
The docs https://reacttraining.com/react-router/web/guides/redux-integration state:

<img width="892" alt="captura de pantalla 2018-07-04 a la s 19 20 58" src="https://user-images.githubusercontent.com/517228/42295387-1d9fc3d2-7fc0-11e8-9e55-ab649d690cf1.png">

I have my app which uses redux, and the store has an array ok books indexed by id.

On BookDetails ( a connected component) i had the **se

[2018-07-06 21:04] tendermario opened #91 "History seems to be a necessary peer dependency at a certain version"
Hey guys! Just went through doing some major upgrades with our system.

I'm in the process of installing `connected-react-router` from an old version of `react-router-redux` where I had an old `history` version (v2). For `connected-react-router` to work with `history`, I needed to upgrade to the latest version of history (v4).

**Suggested change:** add history version 4+ as a peerDependency.

I'm

[2018-07-07 09:38] marekciupak commented on #89
[code]

https://reacttraining.com/react-router/web/api/withRouter

[2018-07-07 10:59] centrodph commented on #42
Same issue here

[2018-07-07 16:08] jacargentina commented on #89
@marekciupak that is useless...

[2018-07-07 16:18] marekciupak commented on #89
@jacargentina

Why? As I understand it, you want to pass `match` as a prop to your component. You can achieve this by wrapping it in a `withRouter`.

https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/api/withRouter.md#withrouter

Alternatively, you could render your component using `Route`:

[code]

[2018-07-07 17:54] jacargentina commented on #89
Because match is passed only when there is a match on the current component is it is wrapped in a route

That second option you give will not match  anything (it doesn't contain any Params) so.... 🤔

[2018-07-07 21:21] marekciupak commented on #89
Ah, ok, I see. But you could add the params, right?

[code]

I'm just guessing here, because I don't know the context of your app, but perhaps this route should be higher in the hierarchy:

[code]

`BookPageContainer` could get the book from the redux state and pass it as a prop to nested dummy components (`BookTitle`, `BookDetails`). Alternatively, `BookPageContainer` could pass `bookId` as a pro

[2018-07-07 21:32] jacargentina commented on #89
Yeah! You have me the key to solve it: I should get the bookid in some top level component, then pass it to child who need it to fetch the book instance, etc

Thanks!

[2018-07-07 21:32] #89 closed

[2018-07-08 08:29] dantonijevic commented on #79
Hey @linonetwo, I had a similar problem while using [redux-sagas-injector](https://github.com/GuillaumeCisco/redux-sagas-injector). I needed the reducer exposed too, so I came up with a hack where you can get the reducer without exposing it from the library.

[code]

Let me know if it works for you, and please, let me know if I am missing something with this approach. Thanks!

[2018-07-09 07:08] linonetwo commented on #79
Sorry @dantonijevic , I'm not using `connected-react-router` and rematch anymore. I've switched to Apollo-GraphQL for more convenient data fetching...

[2018-07-09 08:09] gustavovnicius opened #92 "Add react-router as a peer dependency"
With webpack, `react-router` is being bundled twice when using `connected-react-router`. I guess it should be a peer dependency rather than a dependency, right?

[2018-07-12 08:11] progammer-rkt commented on #54
I am getting this issue in my environment, but the suggested solution is not working in my case:

This is my setup:

## My codes

**Store.js**

    import { applyMiddleware, createStore, compose } from 'redux';
    import thunk from 'redux-thunk';
    import { createBrowserHistory } from 'history'
    import { connectRouter, routerMiddleware } from 'connected-react-router';

    import rootReducer

[2018-07-15 13:31] eladdo92 opened #97 "How to access route params?"
Hey,
I'm having a hard time figuring out how to work with multiple sub-routers.
I have two components that get called from deferent sub-routers but both rely on the same routepath. I want to use the redux-store to save the route parameters so I won't need to explicitly pass the props down to all children (I have many components down the tree), But I can't decide how and who is responsible to updat

[2018-07-18 07:33] arwandar commented on #78
I try with `const history = createHashHistory()` and it seems to work for me.

[2018-07-18 10:30] #78 closed

[2018-07-20 13:48] franciscolourenco commented on #58
@supasate Would you welcome a PR with this change?

[2018-07-21 16:07] taime commented on #80
I don't get it:
"**react-router-redux**": "^4.0.8" **works with redux 4** and it's deprecated.
**connected-react-router** is newer version of ConnectedRouter from deprecated react-router-redux but it **only work with redux 3**

Is everything right? Why new version doesn't support redux4? Will it support it later or there is something wrong with redux4 and nobody should use it now?

[2018-07-22 11:22] eoghanmccarthy opened #99 "Current location not updating with redux-persist setup"
With the redux-persist setup I'm using below the router.location parameter in redux state doesn't update when navigating using the react-router NavLink. The location in the browser does update as it should. Has anyone else come across this issue? Is the configuration below correct?

**configureStore.js**

[code]

**index.js**

[code]

[2018-07-22 16:55] #99 closed

[2018-07-22 16:57] eoghanmccarthy commented on #99
Closing this as the issue was not with the configuration above. It was elsewhere and has been fixed. Anyone using redux-persist the configuration above does work.

[2018-07-24 15:49] CalMlynarczyk commented on #97
Does #85 answer your question?

[2018-07-25 07:51] hsz commented on #60
This issue is still present.

[2018-07-25 08:22] eladdo92 commented on #97
yes, thank you!

[2018-07-25 21:49] alexissantina commented on #54
+1

[2018-07-26 12:24] ErrorPro opened #102 "Saga middleware on init page"
Hey, I'm using this library in my RN application. I need to run a saga right before a user opens the app and in that saga I need to decide where I want this user to be redirected(loing, dashboard, or touchId).

![](https://api.monosnap.com/rpc/file/download?id=UhyqCKW0XQYfvPrEKcSaY1Y8409nbR)

The problem is that when saga is executed the router reducer hasn't been updated yet, and store has the pr

[2018-07-27 06:08] Hardtack opened #103 "Incorrect Typescript type definitions"
The current type definition of `connectRouter()` is like this:

[code]

But, since `connectRouter` injects the key `router` with value of `RouterState`, the returned reducer's type should be `Reducer<S & { reducer: RouterState }>`

So, I think, may this be correct

[code]

[2018-07-27 06:18] Hardtack opened #104 "How to inject RouterState other than "router" key"
I'm wondering how can I inject router's redux state other than `router` key when I use `connectRouter()`.

In case of _react-router-redux_, this can be done by adding combining reducer manually.

[code]

[2018-07-28 17:11] desperate-man commented on #104
As far as I can see it is not possible because the "router" key is hard-coded and is used to find the data at the **root** of the store, see this [line of code](https://github.com/supasate/connected-react-router/blob/83bc910d40699fdb3f16d9d469476ebec0ca2c50/src/ConnectedRouter.js#L29).
So the store shape should always look like this:
[code]
That would be a nice to have feature.

[2018-07-29 02:15] supasate commented on #58
Fixed in #96.

[2018-07-29 02:15] #58 closed

[2018-07-29 13:44] natterstefan commented on #39
Thank you very much @cereallarceny!

[2018-07-30 00:37] cereallarceny commented on #39
Of course @natterstefan.  @supasate - would this tutorial be helpful in your documentation?

[2018-07-30 00:45] cereallarceny commented on #39
@supasate Added a PR that would document server-side rendering with connected-react-router sufficiently: https://github.com/supasate/connected-react-router/pull/105

[2018-07-31 13:45] onionhammer commented on #97
@CalMlynarczyk How does this work for more deeply nested components?

[2018-07-31 15:14] oskarleonard commented on #54
@progammer-rkt did you find a solution? Im having the same problem or similar problem, im getting `Warning: Failed prop type: The prop action (and location) is marked as required in ConnectedRouter, but its value is undefined.`

[2018-07-31 16:59] oskarleonard commented on #54
Ohh, well, 3 hours later ... I had these problems because i use a custom immutableJS solution, ie my top reducers are not Immutable but their children are. So my state looks similar to this:
[code]
So i access my state by doing `state.jsObjReducer.get('imJsObject');` not `state.getIn(['jsObjReducer', 'imJsObject'])`. And i had accidentally converted the router state to an immutable so when `Connec

[2018-08-01 04:10] iamvanja opened #107 "Question: When will be the next NPM release?"
I am hoping to take advantage of [this PR](https://github.com/supasate/connected-react-router/pull/96) and suspect there are others as well.

[2018-08-01 08:24] Bowfish opened #108 "No reducer provided for key "routing""
I changed from `react-router-redux` to `connected-react-router` When I run my app I get the error:

No reducer provided for key "routing"

Here is my code:
reducers.js
[code]

How can I get the routerReducer that will work with  `connected-react-router`

I use:
"connected-react-router": "^4.3.0"
"react-redux": "^5.0.7",

[2018-08-01 10:37] pronebird commented on #108
That's because you didn't read README on this repo.

[code]

[2018-08-01 12:36] ErrorPro commented on #102
Has anyone have this problem?

[2018-08-01 20:52] tyleraadams opened #109 "`push` doesn't trigger state change in store for router if search/query params are updated"
I am dispatching push to update query params of the current url. The update occurs in the browser search bar, but no action is registered in redux dev tools and state for router is not changed. I expect to see router.location.search to update to the new query params that have been pushed and are reflected in search bar.

I am calling push inside a thunk like so:
[code]

i also tried passing an obj

[2018-08-02 07:47] RyotaSugawara opened #110 "How to initialize router reducer with browser’s location.hash."
we want to initialize this reducer’s state with browser’s location.hash, because URLs hash can only get in client side.

But [here](https://github.com/supasate/connected-react-router/blob/master/src/reducer.js#L33-L36), it seems to get from state if default defined state exists.
When we use server-side-rendering, we often have a default state given from server. But server can’t give the hash!
And

[2018-08-02 08:58] fragrans opened #111 "Types of property 'history' are incompatible."
// store
![image](https://user-images.githubusercontent.com/102768/43573638-c5bcb9ec-9674-11e8-8e7e-892b00f70c81.png)

// routes
![image](https://user-images.githubusercontent.com/102768/43573682-e0d8e192-9674-11e8-9796-c72d5cf4dd40.png)

// error
![image](https://user-images.githubusercontent.com/102768/43573725-00221c44-9675-11e8-9658-ef25c458a51d.png)

// packages
![image](https://user-images.g

[2018-08-02 09:14] fragrans commented on #111
I tested examples/typescript, it just works well.
What did i do wrong?
Please help.

[2018-08-02 14:43] tyleraadams commented on #109
This was happening because I instantiated 2 different histories from different invocations of createBrowserHistory: 1 for connectedRouter and the other for connectRouter. Creating one history and passing it to both resolves this issue.

[2018-08-02 14:43] #109 closed

[2018-08-06 08:41] reyhansofian commented on #108
as @pronebird mentioned above, you just need to connect your router to reducer by using `connectRouter`. And then you need to adjust your implementation from `routing` to `router`

[2018-08-07 12:41] HSpens commented on #80
For those struggling with `npm install --save connected-react-router` reporting

Uninstall connected-react-router with `npm uninstall --save connected-react-router` and install it from the git repository with `npm install --save git+https://github.com/supasate/connected-react-router.git` instead until it is updated on npmjs.

[2018-08-08 01:49] zry754331875 opened #113 "How to use HashRouter?"

[2018-08-08 02:26] fragrans commented on #111
Thanks for the hint, I rechecked the imports, and it works now.
I think I might forget to import [history].

[2018-08-08 02:26] #111 closed

[2018-08-08 03:11] #113 closed

[2018-08-08 12:13] kostaspapas opened #114 "npm WARN connected-react-router@4.3.0 requires a peer of redux@^3.6.0 but none is installed. You must install peer dependencies yourself"
Hi,
I
npm install

and i got

npm WARN connected-react-router@4.3.0 requires a peer of redux@^3.6.0 but none is installed. You must install peer dependencies yourself

I have installed redux@5.0.7 already.
Do i have to do something else?
Do I have to install peer dependencies myself?
How?

If I don't, am i going to have any problems?

thanks

[2018-08-08 12:51] kostaspapas commented on #114
I used

 install-peerdeps

is this ok?

[2018-08-09 15:28] branchard commented on #80
@Jtango18 This is because `npm install --save git+https://github.com/supasate/connected-react-router.git` does not include `\lib` directory which contains the primary entry point of the lib
One of the solutions is to build the lib manually :confused:

[2018-08-10 13:05] shivgarg5676 opened #115 "gettingproptype errors. location and action are marked as required"
checkPropTypes.js?5679:19 Warning: Failed prop type: The prop `location` is marked as required in `ConnectedRouter`, but its value is `undefined`.
    in ConnectedRouter (created by Connect(ConnectedRouter))
    in Connect(ConnectedRouter) (created by Root)
    in PersistGate (created by Root)
    in Provider (created by Root)
    in Root
    in AppContainer
printWarning @ checkPropTypes.js?5679:1

[2018-08-12 02:38] #39 closed

[2018-08-12 03:27] supasate commented on #92
Fixed in v4.4.0.

[2018-08-12 03:27] #92 closed

[2018-08-12 05:46] #108 closed

[2018-08-12 05:51] supasate commented on #114
5.0.7 would be react-redux, not redux. By the way, connected-react-router v4.4.0 lists redux 4.0 in peerDependency already.

[2018-08-12 05:51] #114 closed

[2018-08-12 05:53] supasate commented on #80
Released v4.4.0 today and listed redux 4.x in peerDependency :). Sorry for keeping you guys waiting!

[2018-08-12 05:53] #80 closed

[2018-08-12 10:32] stefanmeschke opened #116 "[types] After update to 4.4: Enum declarations can only merge with namespace or other enum declarations"
Hi,
after 4.4.0 upgrade I run into the following error:

### Error
[code]

### Proposal
I think the `index.d.ts` should be changed, because the enum on line 10 ([enum RouterAction](https://github.com/supasate/connected-react-router/blob/c6411d31b30fbcc9482aaa423a47434173270cc3/index.d.ts#L10)) and the interface on line 44 ([interface RouterAction](https://github.com/supasate/connected-react-router

[2018-08-13 01:52] conrad commented on #116
This is blocking me as well. Unfortunately, I don't seem to have permission to push to a branch to be able to create a PR...

[2018-08-13 02:42] supasate commented on #116
Released the fix in v4.4.1. Thanks @Armour for the quick fix.

[2018-08-13 02:42] #116 closed

[2018-08-13 08:33] benneq opened #118 "How to use LOCATION_CHANGE in reducer with TypeScript?"
I have some simple reducer and want to use LOCATION_CHANGE. But I can't find a matching ActionType:

[code]

Maybe it could be useful if you add some `LocationChangeAction`?

[code]

Or how is it supposed to be used?

[2018-08-13 10:39] jackyef opened #119 "connected-react-router equivalent of react-router-redux `.locationBeforeTransitions`"
Coming from rr3 + react-router-redux setup, is there a connected-react-router equivalent of react-router-redux `.locationBeforeTransitions`?

[2018-08-13 19:32] creaux opened #120 "Route is not changed"
Route in url is changed and action dispatched but render method is not triggered. I have also investigated about blocked route change. It doesn't help.

Is there anything particular on which I should focus? Like where to debug or what to simulate when I would like to know that integration is done properly first and then to debug for possible issue. I think I'm maybe missing something.

[2018-08-13 20:26] #120 closed

[2018-08-14 10:18] #102 closed, assigned to nobody

[2018-08-14 15:58] Sawtaytoes opened #121 "Getting warning: "You cannot change <Router history>" after switching"
I was using react-router-redux v5 before and switched to connected-react-router. Now, when updating certain files, I receive the warning:
[code]

Since I didn't get this error before, I'm wondering if there's a different issue going on. When redux-observable it grabbing the state after hot reloading, now it's `undefined`.

## store.js
[code]

## ClientRoot.js
[code]

[2018-08-15 15:42] joeyfigaro commented on #71
Any updates or a roadmap on this?

[2018-08-15 18:03] Sawtaytoes commented on #121
Updated my original question to remove redux-observable. I removed it and that didn't fix the issue.

[2018-08-16 12:31] callumlocke opened #123 "Information about router state API missing from docs"
This looks like a great project, but I can't find an API definition for the `router` state.

Does anyone know the answers to these questions:

- Is it safe to assume `router.location` is treated as immutable? (E.g. if `router.location.search` changes, is `router.location` guaranteed to be a new object?)
- Does `router` have any properties other than `location`?
- Within `location`, are the three p

[2018-08-16 18:09] callumlocke opened #124 "Basename prop doesn't work as expected"
I have followed the [FAQ to set a basename](https://github.com/supasate/connected-react-router/blob/master/FAQ.md#how-to-set-router-props-eg-basename-initialentries-etc) on my `history` object:

[code]

But when I connect `App` with react-redux, and do something like this:

[code]

...the resulting `pathname` prop still includes the basename. I expected it to have no basename. Am I doing something

[2018-08-16 18:40] callumlocke commented on #124
I can verify that dispatching a `push('/foo')` works correctly – it becomes `/prefix/foo` in the location bar.

But `state.router.location.pathname` still shows the prefix, which seems wrong.

When I use my `history` object directly (created with `createBrowserHistory`), if I do `history.location.pathname` it shows me whatever's in my browser location bar **minus the prefix**. This is correct beha

[2018-08-17 08:16] aenciso commented on #118
Exactly how you have it on your reducer

`import { LOCATION_CHANGE } from 'connected-react-router';`

then e.g

`case LOCATION_CHANGE:
     const { pathname } = action.payload.location;
...`

[2018-08-17 08:35] callumlocke commented on #124
Upgrading fixed this. Seems to have been fixed somewhere between 4.3.0 to 4.4.1.

[2018-08-17 08:35] #124 closed

[2018-08-17 12:33] benneq commented on #118
But why is there no `LocationChangeAction`? Then I could simply write:
[code]

Or maybe some kind of `RouterActions` which combines all action types from the router:
[code]

[2018-08-17 14:49] josipGrgic11235 opened #125 "How to set a search value programmatically?"
In my reducer state I can see the search prop changing accordingly as I type a query via the browser url input.
However, I couldn't find a way to do it programmatically. I tried to dispatch a custom action and set it (the location.search property) inside the routerReducer I made but it seems that any changes I make to the router state that way is ignored.
Is there a way to do it?
Thanks in advance

[2018-08-17 16:28] bdwain commented on #79
@linonetwo can you reopen this issue please? it's still relevant I think even though you're not using it anymore.

cc @supasate This would be really helpful to use with [redux-loop](https://github.com/redux-loop/redux-loop)

[2018-08-17 18:45] aenciso commented on #118
Actions are implemented by connected-react-router internally but they're not accessible from the outside. What you can do is subscribe to the store and check for that type of action or if you are using sagas you can take all LOCATION_CHANGE events and dispatch actions from there.

[2018-08-18 21:39] benneq commented on #118
I guess it would still be nice, if you could expose the corresponding Actions :)

[2018-08-20 13:47] tlaak opened #126 "Component gets mounted twice when using with redux-saga"
I have a redux-saga which yields a `put()` action with `push("/")` from `connected-react-router` as an argument in reaction to LOGIN_SUCCESSFUL action. I can see that LOCATION_CHANGE appears once in Redux dev tools, but the component which gets loaded on `/` route will be mounted twice.

I don't honestly know where to start debugging this issue, but has anyone experienced something similar?

[2018-08-22 00:21] neurosnap opened #128 "Missing createMatchSelector inside typedef"

[2018-08-22 18:21] scssyworks opened #129 "componentDidUpdate is triggered twice while using ConnectedRouter"
While switching routes as depicted below, my component assigned to this route is rendered twice. As a result ``componentDidUpdate`` is executed two times.

``/route/to/page1`` --> ``/route/to/page2`` (route: ``/route/to/:page``)

[2018-08-22 19:24] Sawtaytoes opened #130 "Switch not updating Route when route change occurs"
If `Switch` is never re-rendered, it doesn't update which causes it to not update which `Route` component it should render.

When I used react-router-redux, I had to wrap my components with react-redux's `connect` function like so:
[code]

While I don't have to do this with connected-react-router for most cases, I do have to do it when `Switch` is wrapped in a component that never updates, meaning

[2018-08-23 07:58] djKooks commented on #130
I'm facing on similar issue. In my case, it is not rendering component by changing path with `replace` in redux action.

[2018-08-23 13:58] jeremy-richard commented on #54
@progammer-rkt

I found a typo in your store. You declare the const History like this : `export const History = createBrowserHistory();`
then use it like this `routerMiddleware(history), and connectRouter(history)(rootReducer),`. shouldn't it be this `routerMiddleware(History), and connectRouter(History)(rootReducer),` ?

[2018-08-23 15:30] Sawtaytoes commented on #130
Does yours work with the solution I provided which wraps them in `connect`?

[2018-08-23 21:09] dubvfan87 commented on #115
I'm getting the same errors. I am wondering if there was an update and some docs needs updated.

[2018-08-24 00:28] iamvanja commented on #107
Suh-weet! Thanks :)

[2018-08-24 02:44] djKooks commented on #130
@Sawtaytoes oh, no. It seems my problem is bit different with yours...

[2018-08-24 15:51] thereapman commented on #130
Just faced the same issue.

The solution seems to be to just map the location to your props.

[code]

`App` then can include `Switch` and `Route` and will be rerenderd when `state.router.location.pathname` changes

[2018-08-25 12:52] ross-weir commented on #130
I also faced this issue. @thereapman fix worked for me.

[2018-08-25 20:55] Sawtaytoes commented on #130
That's the same solution I presented originally. It's a workaround for an issue with connected-react-router

[2018-08-26 13:43] duvet86 commented on #118
This is what I'm doing:
[code]

But it would be nice to have it out of the box.

[2018-08-28 09:42] truongthanh1303 commented on #113
Hi @zry754331875,

Do you have any ideas for this? I want to use HashRouter too

Thanks

[2018-08-28 11:50] BaptWaels commented on #126
Yes, I'm experiencing the exact same problem. I don't know how to solve this.

[2018-08-28 19:10] Kmeiklejohn commented on #77
same

[2018-08-29 14:41] goonerDp commented on #130
@thereapman , is it not affecting performance?

[2018-08-30 09:11] weishijun14 commented on #121
@Sawtaytoes Did you fixed this ?

[2018-08-30 18:39] thereapman commented on #130
@goonerDp not 100% sure. But basically when your location won't change the component also should not re-render. I think this is the "most-proper" reduxy way to do it.

[2018-08-31 02:45] zry754331875 commented on #113
import { createHashHistory } from 'history'

[2018-09-01 20:21] sgal opened #133 "[Performance]: Redux state is re-created on EVERY action"
Due to the way router reducer is [implemented](https://github.com/supasate/connected-react-router/blob/master/src/reducer.js#L35) it changes the reference of the entire state on every action.

This causes an unnecessary update (or rather re-calculation of `mapStateToProps`) in all connected components.
The whole idea feels a bit of an overkill just to get the initial router state from the real his

[2018-09-02 04:38] em commented on #85
What's the reason? To access matched params through `ownProps` you would need to wrap your components in `withRouter` HOC which entirely defeats the purpose of using this lib. What am I missing?

[2018-09-03 08:58] jorgenbs commented on #38
I'm also suprised this isn't a basic feature. For now I'm using `matchPath`.

[2018-09-04 12:37] thomschke commented on #60
Any good news?

[2018-09-04 13:08] tonoslav commented on #60
still ignored error problem even it is really easy to fix for @supasate

[2018-09-06 09:49] ee0pdt commented on #133
I like this proposed solution to this problem and to #132

I'd be happy to see a PR for this

[2018-09-06 11:02] tlaak commented on #126
I made a quick and dirty demo, but looks like I'm not able to repeat the issue.

[2018-09-08 20:39] CalMlynarczyk commented on #97
@onionhammer If you are referring to other connected components, then I would expect the `ownProps.match.params` property still be there in the mapping function (although I have not verified this myself).

If you mean nested non-connected components, then you will simply have to pass the params that you need down to those components (or potentially use [context](https://reactjs.org/docs/context.ht

[2018-09-10 08:56] lpillonel opened #136 "Missing createMatchSelector, getLocation, getAction for immutable structures"
I did a pull request #137, but only tested for immutable (not seamlessImmutable)

[2018-09-10 11:02] ShadyXV commented on #120
Were you able to solve this issue? What was missing ? Same thing seems to happening in my app. The action is dispatched, the url changes but the route is not changed!

[2018-09-10 11:49] creaux commented on #120
@ShadyXV issue was this https://github.com/ReactTraining/react-router/blob/v4.0.0-beta.8/packages/react-router/docs/guides/blocked-updates.md it was difficult to find it but yes it has been there.

Be aware of third party Providers. If you have many of them i suggest to try to bypass one by one and from some particular point you will see. Are you using any of these providers?

[2018-09-12 17:30] shae-wat commented on #129
Im seeing the same behavior, is the intention to have devs implement logic in componentDidUpdate to determine whether their components actually need to update? Is there a way that ConnectedRouter could give us that behavior/logic out of the box?

[2018-09-13 19:43] piu130 commented on #85
@em see [here](https://github.com/supasate/connected-react-router/issues/38).

[2018-09-13 20:26] piu130 commented on #38
Whats the point of having the key prop? Can't we just merge the state?

[code]

[2018-09-18 13:30] sudheeshcm commented on #115
@dubvfan87 I'm also getting the same problem.
What exactly do we have to import here?
`import { history } from '../../startup/client/history';`

[2018-09-18 13:42] dubvfan87 commented on #115
@sudheeshcm Basically you need to run createHistory() somewhere in your code

`import { createBrowserHistory as createHistory } from 'history';

export const history = createHistory();`

and then add it to middleware where you create your store

`
import { connectRouter, routerMiddleware } from 'connected-react-router';
const middleware = [thunk, routerMiddleware(history)];
const enhancer = compos

[2018-09-18 15:21] vorlov commented on #129
the same behavior is observed when I click back on browser button

[2018-09-19 16:45] gpatel93 commented on #77
same

[2018-09-20 10:02] vorlov opened #141 "on POP action component is mounted twice"
on PUSH action component is mounted once, on POP action component is mounted twice.

[2018-09-20 13:04] ee0pdt commented on #133
Could we combine this solution with this PR? https://github.com/supasate/connected-react-router/pull/140

[2018-09-20 14:39] Sawtaytoes commented on #121
@weishijun14 I was unable to fix the issue. There's an underlying bug in connected-react-router as far as I know. I think this is the fix: #140.

[2018-09-23 16:36] #60 closed

[2018-09-24 11:06] stingrayfunk opened #144 "LOCATION_CHANGE action is triggered on page load"
[code]

This might come from my limited understanding of how React Router works, but...

I have a React/React Router/Redux app which renders on the server and client. However, on page load, the React Router `LOCATION_CHANGE` action is dispatched. I only want this action to be dispatched when the user explicitly routes on the client-side, not on page load. The reason being I have a Redux middleware

[2018-09-24 20:01] bdwain commented on #79
bump @supasate any thoughts on this?

[2018-09-25 04:28] supasate commented on #79
PR #140 is addressing this issue.

[2018-09-25 04:35] bdwain commented on #79
cool thanks!

[2018-09-26 18:16] dbartholomae commented on #74
Hi there, I would also be willing to help with merging PRs

[2018-09-27 08:02] zanisis opened #146 "got this error in SSR"
Uncaught ReferenceError: __$$GLOBAL_REWIRE_REGISTRY__ is not defined

[2018-09-29 13:11] thg303 opened #148 "any idea how to use this with native-router?"
examples are focused on react-js. I wonder how can this be used with react-native-router?

[2018-10-01 08:12] salvoravida opened #151 "redux-first-history -> another way to think history"
https://github.com/salvoravida/redux-first-history

Hi all,

maybe you could find usefull my solution!

Let me know!

[2018-10-03 08:38] schrizsz commented on #115
I have the same issue I am passing the history, but it's still complaining
`import createHistory from 'history/createBrowserHistory';

export const history = createHistory();
console.log(history); // { object with location, action etc }
const middleWares = [routerMiddleware(history)];`

in index.js i have```

import { store, history } from './store';

const rootElement = document.getElementById('r

[2018-10-03 22:36] mjhoffm2 opened #152 "TypeScript definition for connectRouter excludes Action type parameter"
I am defining my Action type as a discriminating union of actions:

[code]

My reducer has the following signature:
[code]

However, I encounter the following type error when creating my store with connectRouter:

[code]
Error: property 'channels' is missing from AnyAction

This stems from the type definition for connectRouter:
[code]

This should take an optional second type parameter so I can pr

[2018-10-04 11:48] rezik007 opened #153 "This version of React Router is only compatible with v3 history objects."
Trying to mount everything inside my application as it is shown in README finishes always with error: `You have provided a history object created with history v4.x or v2.x and earlier. This version of React Router is only compatible with v3 history objects. Please change to history v3.x.`

I even tried using versions of packages from the basic example you provided - no changes at all.
Below I past

[2018-10-04 18:35] mjhoffm2 commented on #152
As a follow up, I also noticed an additional issue with the TypeScript definitions.  I found that when I define my Action type as follows:

[code]

I start seeing type errors in my reducer which stems from the fact that it isn't able to narrow down the union type after checking the `type` field on the action.  This is due to the fact that the RouterAction interface is defined as:

[code]

In this

[2018-10-04 21:05] rquantz commented on #38
All the issues related to params in store are closed, but this seems like a basic feature, without which this lib is basically useless. Surely there is a rational way to include match in the application state.

[2018-10-05 00:08] brneto commented on #38
@jorgenbs @trungdq88 you can do this way too:
[code]

[2018-10-05 00:12] brneto commented on #97
@eladdo92 Have you tried this:
[code]

[2018-10-06 11:00] The-Code-Monkey opened #154 "reload current route without reloading causing store to be lost"
I have a strange case where based on a toggle in an admin system i need to reload the page without losing the store as that contains alot of the data that will still be needed how would i do dispatch(push('/route')) but force it to reload even if it is the same route is there a force tag on push

[2018-10-06 21:09] Ailrun opened #155 "Typescript definition exports RouterActionType enum where it does not exists as a value"
## Description
In TypeScript, `enum` can be used as a value, so if library exports type definition including `enum`, one would expect there is a corresponding exported value.
However, for `RouterActionType`, that's not the case, more specifically, there is no named-export whose name is `RouterActionType`.

## Possible solution
Change `RouterActionType` into normal union type, or add corresponding

[2018-10-07 03:37] #103 closed

[2018-10-07 03:37] supasate commented on #103
Fixed! Thanks for reporting!

[2018-10-07 16:08] Ailrun commented on #155
Oh, it looks so. Could you close this after that one is released?

[2018-10-08 10:34] rezik007 commented on #153
SOLVED: I had missing `"react-router": "^4.3.1"` dependency (which is in fact peerDependency of react-router-dom itself but it seems that it's not enough...). However above error message is misleading in my opinion.

[2018-10-08 10:34] #153 closed

[2018-10-09 14:45] 3plusalpha commented on #130
I found that problem lies in the order I used `connect` with `withRouter`

**not working**
```connect(mapStateToProps))(withRouter(MyComponentWithSwitch))```

**working**
```withRouter(connect(mapStateToProps))(MyComponentWithSwitch))```

[2018-10-09 16:06] willdurand opened #158 "Expose `onLocationChanged` action"
Hi,

in some test cases, I would need to use the `onLocationChanged()` action and not the actions reacting to the `history` events. Would it be possible to expose this action somehow? Or are there any (known) issues about exposing it?

I don't like the idea of maintaining a copy of this action because it can get out of sync.

Thanks!

[2018-10-09 17:05] n-sviridenko commented on #148
Hello. Any updates on this?

[2018-10-09 21:34] sterjoski commented on #42
@centrodph I just had the same issue and fixed it by changing `<Switch>` to `<Switch location={location}>`. That way every time the location changes it will re-render.

I didn't use a `<BlockAvoider>`, no need for `withRouter` either.

[2018-10-10 07:35] lostfields commented on #152
Yeah, this is not good for me as well. Since `type` is `string` in RouterAction all of my overloads keeps pointing to RouterAction instead of my Actions in Typescript.

This code is no go since type is typeof string
[code]
whenever I'm using `dispatch({ type: ActionType.Add})` it thinks action is a RouterAction. `ActionType.Add` is a enum of string and a part of the definition for `AddAction`.

I

[2018-10-10 07:49] lostfields commented on #152
I can see that PR #149 will solve this issue. When will this be merged @supasate ?

[2018-10-10 08:47] seb-bizeul commented on #38
@brneto awesome thanks !

[2018-10-19 18:43] chuanxie opened #159 "push a new route only triggers URL change but not location change"
set up the `connected-react-router` as doc.
but it only update the url rather than the `location` object when `yield put(push(`/somewhere`))` in saga. so it won't re-render the component.

try to resolve this via `Update Blocking`section in react-router but it works fine outside the `redux-saga`. which means the `push` method from `connected-react-router` doesn't work as expected.

any suggestions

[2018-10-20 16:42] akhil-gautam commented on #159
If possible, can you check it once in redux-thunk? Is it working there? In my case also, it was not changing the location from redux-saga, so I just moved it in thunk. May be it doesn't fit your use-case, but just have a try.
Ex:
const mapDispatchToProps = dispatch => {
    dispatch(push(/somewhere/))
}

[2018-10-22 08:24] CDimonaco opened #160 "Selectors not exposed on typescript types"
## Description

The selectors, in particular i tested `getLocation` selector is missing on typescript types declared by the library.

After searching in the `.d.ts` file all selectors are missing.

The selectors are obviously exported by the library but using the library with typescript generate errors for undeclared exports.

[2018-10-22 16:18] kurt-hardy commented on #159
I have this same issue. I can confirm dispatching a push does not render anything. This is my component:

[code]

[2018-10-24 08:48] kurt-hardy opened #161 "Rendering issue when changing the URL"
### Summary
Dispatching a push from a connected component does not work.

### Test Case
https://github.com/kurt-hardy/react-router-redux-issue

### Expected Behavior
Should render the correct component

### Actual Behavior
Nothing is rendered. Notice that the URL changes and if you open up redux dev tools and you will see the location change being dispatched

[2018-10-24 09:30] kurt-hardy commented on #159
Figured my issue out. Notice how I've used title case for the component prop in the Route. Double check your not doing something stupid like me :-)

[2018-10-24 15:31] fbove commented on #161
Same is happening inside a saga, doing: `yield put(push('/home'))` just changes the URL, but it does not render the component.

My config is the one from react-boilerplate plus this pr `https://github.com/react-boilerplate/react-boilerplate/pull/2375/files`.

[2018-10-24 15:41] fbove commented on #159
Same is happening inside a saga, doing: yield put(push('/home')) just changes the URL, but it does not render the component.

My config is the one from react-boilerplate plus this [pr](https://github.com/react-boilerplate/react-boilerplate/pull/2375/files).

[2018-10-25 07:05] #161 closed

[2018-10-25 07:08] kurt-hardy commented on #159
Does it render a default component or if you change the URL manually? My default route wasn't being rendered even after I disconnected it from the store.

If you have a repo or codepen, I can take a look.

[2018-10-25 07:54] Andrekra opened #164 "react-router-redux dependency"
Hello,

While moving from **react-router-redux** to **connected-react-router**, I've noticed that react-router-redux was still present in my yarn.lock. Upon further investigation it seems **connected-react-router** imports the **combineReducers** of **redux-seamless-immutable**. And redux-seamless-immutable imports only the **LOCATION_CHANGE** constant from react-router-redux (as part of the **rou

[2018-10-25 13:59] fbove commented on #159
Solved
I was using: ~~`import { push } from 'connected-react-router/immutable'`~~
Instead of: `import { push } from 'connected-react-router'`

Should both work? I'm using the [immutable approach](https://github.com/supasate/connected-react-router/blob/master/FAQ.md#how-to-support-immutablejs).

@kurt-hardy Thanks for answering and willing to help though!

[2018-10-28 14:31] florianchevallier commented on #159
Hey, got the same issue here.
The Links are working, but I can't push new URL.

I have a working example here : https://codesandbox.io/s/vvznjm8mz3

[2018-10-29 02:14] darbio opened #166 "Push from a redux-observable epic - route doesn't load"
I am using `redux-observable`, to initiate a `push` from the epic.

Epic.ts:
[code]

The push appears to be kind of working - the browser location is updated - however the page does not navigate to the component for the route.

How do I make the routing work?

[2018-10-29 02:37] darbio commented on #166
This could be the same as https://github.com/supasate/connected-react-router/issues/159

[2018-10-29 02:43] darbio commented on #166
Problem solved. My issue was that my `history` const was not being shared between my component and my store. Exporting `history` from the store and importing it into my routing component worked.

[2018-10-29 02:43] #166 closed

[2018-10-29 09:33] kurt-hardy commented on #161
This was my own mistake, I had an uppercase C when passing the component to the `Route`

`<Route path="/page-1" Component={Page1} />`

Whats your issue?

[2018-10-29 10:14] kurt-hardy commented on #159
Did you get that working? I see that your not using connected router, your using browser router.

[2018-10-29 10:31] florianchevallier commented on #159
Yeah that's what I thought too, I felt like cheating; I've updated the codebox :)

I was doing two things wrong :
- Using two different instances of history
- Using both `ConnectedRouter` and `BrowserRouter`

See if something is wrong with the codesandbox, but else, it's ok for me :)

[2018-10-29 10:33] claramunt commented on #133
some news?

[2018-10-29 10:47] kurt-hardy commented on #159
No everything looks good there. That's the same setup as I have it.

Glad you got it working. 👍

[2018-10-30 16:28] etylsarin opened #168 "components re-mounted on query change"
Hi @supasate,
Thanks for this great utility, I just need to clarify how to work with the query parameters.
When I dispatch the push action, providing an object with a search string, then url in the address bar changes, however also all the components are re-mounted.
Is that intentional and FAD? I thought the query params change should not be treated as a new page from the router point of view as t

[2018-10-31 11:09] Lyfme commented on #115
maybe, you can do this

import { routerMiddleware, connectRouter } from 'connected-react-router'
....
const store = createStore(connectRouter(history)(rootReducer), middleware)
....

[2018-11-01 16:16] miraage commented on #104
@supasate it would be great to have an export with the router state key.

[2018-11-02 12:28] #164 closed

[2018-11-03 04:07] #133 closed

[2018-11-03 05:15] supasate commented on #104
v5.0.0 supports this. (Beware of the breaking change. Please see the release note https://github.com/supasate/connected-react-router/releases/tag/v5.0.0)

[2018-11-03 05:15] #104 closed

[2018-11-03 05:17] supasate commented on #152
Released in 5.0.0! (Beware of the breaking change. Please see the release note https://github.com/supasate/connected-react-router/releases/tag/v5.0.0)

[2018-11-03 05:17] #152 closed

[2018-11-03 05:18] supasate commented on #155
Released in 5.0.0! (Beware of the breaking change. Please see the release note https://github.com/supasate/connected-react-router/releases/tag/v5.0.0)

[2018-11-03 05:18] #155 closed

[2018-11-03 15:55] supasate commented on #71
Added in #122 .

[2018-11-03 15:55] #71 closed

[2018-11-03 16:16] #91 closed

[2018-11-03 16:32] supasate commented on #144
I just realized that it was dispatched because I didn't provide the history object to set the initial router state [in the past](https://github.com/supasate/connected-react-router/blob/f84b6aa4405f27086d54cec6ff2c2fa003716d49/src/reducer.js), so, I dispatched it to set the initial router state. We don't need it now :).

[2018-11-03 16:39] #144 closed

[2018-11-04 03:33] supasate commented on #144
After searching through the history of changes, I found that it was intentionally added back in #96. I think the reason makes sense to make it more compatible with `react-router-redux` and the browser actually fires a `POP` event on page load, so, it makes sense to fire the `LOCATION_CHANGE` action too.

[2018-11-04 12:40] Nase00 commented on #115
I'm getting these propType errors on`5.0.0`. Didn't get them on `4.5.0`. No problems with any routing functionality on either version.

[code]

[2018-11-05 11:33] roberthchapman opened #173 "Getting version 5.0.0 to work with Typescript"
Hi, I'm trying to update to connected-react-router while updating all my React, Redux and Router versions. I am having trouble with the root reducer and store creation.

The previous reducer code that was working was...

const appReducer = combineReducers({...reducers, router: connectRouter});
export const rootReducer = (state: IAppState, action: IAppAction) => {
    return appReducer(state, actio

[2018-11-05 15:08] mattvague opened #174 "Cryptic error when using incorrect reducer key (e.g. "routing" instead of "router")"
I kept getting this error until I realized that connected-react-router requires that `connectRouter()` be mounted under "router", whereas mine was under "routing".

Not knowing the history behind this I probably shouldn't comment, but to be honest it doesn't seem like the best design decision to impose this on peoples apps, at the very least could we throw a nice and helpful error when this happen

[2018-11-05 16:10] supasate commented on #174
You're right. The reducer key must be `router`. I updated the readme to emphasis this.

The history is that, in the previous version, I automatically created the `router` key. However, in v5, we need to export the router reducer to make it compatible with other libraries, but, internally, we still look for the `router` key. (Code pointer - https://github.com/supasate/connected-react-router/blob/ma

[2018-11-05 19:03] mattvague commented on #174
Ah ok, makes sense. Let's do both ideas 👍 I'll submit a PR for the short term and we can keep the convo open on the long term

[2018-11-05 20:16] mattvague commented on #174
@supasate PR'd!

[2018-11-06 03:49] vincelawdev commented on #115
@Nase00 I can confirm that I am getting these errors after upgrading to 5.0.0 and above. Reverting it back to 4.5.0 was the solution for me.

[2018-11-06 05:28] MaxSvargal commented on #115
Where is a fix of this?

[2018-11-06 10:16] vincelawdev commented on #115
I have a feeling the fix is here in the release notes: https://github.com/supasate/connected-react-router/releases

However, I do not have the time to change my code to make it work with 5.0.0. I will do it when I have more time.

[2018-11-06 21:21] Andrekra commented on #168
From what I understand is that, through the context api, when the url changes, the Route will create a new element (effectifly re-mounting/re-rendering the component)
https://github.com/ReactTraining/react-router/blob/master/packages/react-router/modules/Route.js#L71

I've solved it by instead of letting the Route get the location from the context, it gets it from a prop.
`import { connect } from

[2018-11-07 06:58] wgao19 opened #176 "Support React-Redux v6."
React-Redux v6 will use React's ( new ) context api which is not compatible with the legacy context API. By accessing store from context ( [reference](https://github.com/supasate/connected-react-router/blob/master/src/ConnectedRouter.js#L80-L85) ) it causes the app to break when it tries to dispatch the `LOCATION_CHANGE` action.

As @timdoor has described in its breaking changes:

Related React-Re

[2018-11-08 17:16] brenoos opened #177 "Calling push on Redux Actions and LOCATION_CHANGED not called"
Hello.

I have a redux action who made an Axios call, I want to push if the request get sucess, I made this:

[code]

The action completes, I get the data, and the URL changes, but the LOCATION_CHANGE and the router state stay the same.

Can somebody help me?

[2018-11-08 19:05] Absvep commented on #177
Same problem here. I use react-boilerplate (https://github.com/react-boilerplate/react-boilerplate) and do like this in redux-saga:

[code]
I see that action completes in redux devtools and url changes, but the page is blank. So I need to manually click in search bar to go to new location.

[2018-11-08 20:15] Absvep commented on #177
@brenoos What if you do
`export default withRouter(compose(withConnect)(App))
instead of
`export default compose(withConnect)(App)
`
For me it seem to work, but I get a cancel action in some way in my saga,
`yield cancelled()`

[2018-11-08 20:34] brenoos commented on #177
Guys I solved in another way (not sure if its a good practice):

[code]

It's working for me

[2018-11-08 20:41] Absvep commented on #177
Ok great, but you asked for connected-react-router solution :) Maybe someone from this github can answer what the correct solution is? :)

[2018-11-08 20:44] brenoos commented on #177
I don't understand why you said: "but you asked for connected-react-router solution". I'm using a resource from connected-react-router, I imported de const LOCATION_CHANGE and calling it, it call the locationChange action in the  connected-react-router.

Sorry about my bad English =/

[2018-11-08 20:47] Absvep commented on #177
@brenoos I changed my writing, I wrote wrong meaning :) See now.

[2018-11-08 21:14] brenoos commented on #177
Know I See =)

Thanks for the help

Will stay opened for wait the answer if this is a good practice

[2018-11-09 02:03] jjdp opened #178 "Resetting state in v5.0.1"
How do you reset state now since `connectRouter` is passed inside `combineReducer`  and a history object is passed when creating the root reducer?

Previous way:

[code]

[2018-11-09 15:15] roberthchapman commented on #173
Thanks so much

[2018-11-09 15:52] fbove commented on #159
My issue had to do with doing a LOCATION_CHANGE and the saga being cancelled cause of that.
In fact I do agree with "Andrey Moiseev", you should check for something like
[code]
or if the component that's mounting that saga is still mounted also.

If you are doing a `yield put(push('/dashboard'))` and the component for that route is in a different branch of your "routing tree", I'll guess the saga

[2018-11-09 17:21] Absvep commented on #159
I have the same issue where LOCATION_CHANGE is cancelling my saga. But how did you solve it in detail? I also use react boilerplate and its newly added connected-react-router. I use withRouter in base App component as well, else the redirect does not happen. Please help, I've been looking for answer for 2 days:(

[2018-11-09 20:20] fbove commented on #159
I solved it by removing:
[code]
And placing **the watcher** on `app/containers/App/saga.js` as I needed it to be global and persist through location changes.

p/s: Instead of removing it, you could use an other action to cancel it.

[2018-11-10 15:39] Absvep commented on #159
@fbove Thanks a lot man! It solved it to move saga to global scope! Thank you!

[2018-11-11 22:36] imbr opened #183 "Problem with toJS(getIn(...)) - from version 5.0.0"
**Error message:**
[code]

**React version:** ^16.6.1
**connected-react-router version:** >= 5.0.0

**Additional comments:**
connected-react-router version **4.5.0**, with the same React configuration **works completely correctly**.

[2018-11-12 14:15] mattvague commented on #183
Probably related to this: https://github.com/supasate/connected-react-router/pull/175

[2018-11-12 21:40] greevz opened #184 "TypeError: Cannot read property 'pathname' of undefined"
Looks like this is a regression of https://github.com/supasate/connected-react-router/issues/54, and potentially related to https://github.com/supasate/connected-react-router/issues/183

But I am getting a `TypeError: Cannot read property 'pathname' of undefined` error when simply following the docs.

[code]

[code]

[code]

[code]

[2018-11-13 07:10] Galya-IT commented on #166
@darbio , would you please give me more info on how you solved the problem. I have a similar one. I've created a [Stackoverflow question](https://stackoverflow.com/questions/53227446/push-from-connected-react-router-used-in-redux-observable-epic-doesnt-chang) with the details.

[2018-11-13 10:12] svenadlung commented on #178
I am facing the same problem :(

[2018-11-13 10:34] Galya-IT commented on #159
I have a similar problem with `redux-observable` and I explained it in details in [Stackoverflow]( https://stackoverflow.com/questions/53227446/push-from-connected-react-router-used-in-redux-observable-epic-doesnt-chang). If anyone can help?

[2018-11-13 14:40] bobby-hewitt commented on #184
same here

[2018-11-13 14:46] Quenten commented on #184
Having the same problem.

`
 102 | _this.unsubscribe = context.store.subscribe(function () {

 103 |   // Extract store's location

^104 |   var _toJS = toJS(getIn(context.store.getState(), ['router', 'location'])),

 105 |       pathnameInStore = _toJS.pathname,

 106 |       searchInStore = _toJS.search,
 107 |       hashInStore = _toJS.hash; // Extract history's location
 `

[2018-11-13 23:54] bschwartz757 commented on #184
I downgraded to v4.3 and that seemed to fix it. Not ideal though, as I try to keep everything up to date using https://www.npmjs.com/package/npm-check-updates

[2018-11-14 06:34] actraiser commented on #183
5.0.0 works fine here though -  the toJS() problem comes up when I upgrade to 5.0.1.

-act

[2018-11-14 08:51] arman-mukatov commented on #184
same issue

[2018-11-15 10:20] urikphytech commented on #115
I followed the v5 docs and was getting this error. My problem was that my reducer was called ```routing``` instead of ```router```

[2018-11-15 13:42] MaciekFlipSport commented on #113
Yes, I can confirm, using { createHashHistory } helped!

[2018-11-15 14:23] monestereo commented on #159
I had the same problem today.
It seems to break with `react-dom >= 16.5`.
Downgrading it to `16.4.1` solved it for me.

Any Idea why?

[2018-11-15 18:06] darewreck54 commented on #184
@centuryPark  are you suggesting that this is a fix?

[2018-11-16 02:16] centuryPark commented on #184
@darewreck54    I do not have his code ,but in my project it works well .

[2018-11-16 09:34] zachrickards commented on #184
Same issue. These needs to be fixed.

[2018-11-16 14:05] BiosBoy commented on #176
Same issue here! There is a problem with how to bring `react-redux 6*.beta` and `connected-react-router 5*` work together. Each time gots an error about missing `context` store object...

[2018-11-16 18:57] sgal commented on #184
@greevz It might be related to the requirement that `routerReducer` must be placed under key `router`, while you seem to use `routing`.

Check https://github.com/supasate/connected-react-router/blame/master/README.md#L42

[2018-11-16 19:53] HollyJHuber opened #185 "Step 1: Create a history object"
In the examples, the history object is created in App.js using prop-types.

`App.propTypes = {
  history: PropTypes.object,
}`

Is it okay to create a history object this way?

`import createHistory from 'history/createBrowserHistory'`

`const history = createHistory()`

Thanks!!

[2018-11-16 20:46] svenadlung commented on #178
Perfect, thx @sgal !

[2018-11-16 21:50] benj3 commented on #129
The same is also observed with forward and backwards buttons on browser.

[2018-11-17 01:01] davidychow87 opened #186 "Hash link Scrolling"
Is there any way we can get ConnectedRouter to automatically scroll to the hash link? For example in https://github.com/ReactTraining/react-router/issues/394, a solution is to add a 'scrollToAnchor' function in componentDidMount, but I would rather not have to use this for every component. Is there any way to get it to scroll to the hash link for all components?

[2018-11-17 15:02] Kovensky commented on #176
That'll require a breaking change / major version. connected-react-router needs to look into react-redu x's context but it's been moved from old context to new context.

[2018-11-17 22:34] steadylearner opened #187 "Example for Redux Observable"
I found that there was no Redux Observable example for this package yet. So I gave some time to figure out how to make it to work.

I corrected a little bit working code example from my project. First I thought that I can use store.dispatch inside redux observable but the redux observable maintainers deprecated use of store api.

So I experimented some codes and found that I can use apis of this p

[2018-11-18 10:16] danbopes commented on #97
@brneto This seems a bit ugly to have to repeat passing the path selector (Which should already be on the current route that we're on). I'm currently running into this issue now, where I need to access part of a path to convert to a selector.

[2018-11-18 11:37] eladdo92 commented on #97
I created an HOC that adds the wanted params as props to the wrapped component.
It also solves the dealing with update blocking when using connect.
Hope it helps :)

`import React from 'react';
import { withRouter } from 'react-router';
import { matchPath } from 'react-router-dom';
import { connect } from 'react-redux';
import { createStructuredSelector } from 'reselect';
import pick from 'lodash/

[2018-11-18 19:51] sgal commented on #185
@HollyJHuber Actually, in the examples the `history` is passed to `App.js` as a prop, but it's not created there. Instead, it is created in the `index.js` file which is an entrypoint of the app. Check https://github.com/supasate/connected-react-router/blob/master/examples/basic/src/index.js#L11

Good luck!

[2018-11-18 19:55] sgal commented on #168
@etylsarin Could you please provide a code example? I had similar issue, but with just `react-router` itself, not this particular library.

For example, if you're using `render` prop in `Route` component it will remount on every change.

[code]

[2018-11-18 22:50] brneto commented on #97
@danbopes Actually, I centralize all routes in one file like:
[code]

and use it where I need. With that the code would become:
[code]

[2018-11-19 17:42] HollyJHuber commented on #185
Thank you @sgal !

[2018-11-19 17:42] #185 closed

[2018-11-19 18:01] HollyJHuber opened #188 "Help or Examples for Time Travel using connected-react-router"
I would greatly appreciate any assistance or examples in how to implement time travel on a single-page web app.

I just want to be able to link back to step1 or step2 once I'm on step3 and have the correct state information for that step (and not step3 state info).

Since the URL in the browser isn't important, do I need to use `createMemoryHistory` instead of `createBrowserHistory` to do this?

A

[2018-11-19 23:45] mshick commented on #184
Same issue here. Trying to migrate from react-router-redux. Followed the docs and I get this error. Have tried several old version as well, but nothing is working.

I have verified that I am using the `router` key as well.

[2018-11-20 03:12] wgao19 commented on #176
Pulling up a fix for my own usage that @here may refer to

[2018-11-20 07:10] sgal commented on #184
@mshick, could you please show how you set up the store, reducers and if you have any selectors that are using router state?

[2018-11-20 10:41] sgal commented on #186
@davidychow87 This package is only related to connection between `react-router` and `redux`. What you're asking about belongs to `react-router` package, so please post it there.

[2018-11-20 15:00] jlarmstrongiv commented on #184
Downgrading to `"connected-react-router": "^4.5.0",` worked in the meantime.  Version 5.0.0 started causing the `TypeError: Cannot read property 'pathname' of undefined` error.

[2018-11-21 22:37] etylsarin commented on #168
So I realized that I have also problem with react-router not with this redux connector. All I needed to do was to change [route render method](https://reacttraining.com/react-router/web/api/Route/route-render-methods) to "render".
Then, I needed to add the code @Andrekra provided above. After that it's started to work as expected.

[2018-11-21 22:37] #168 closed

[2018-11-21 22:48] vauruk commented on #184
for me the same error! tks

[2018-11-22 17:48] manishkotta commented on #54
<Provider store={store}>
    <ConnectedRouter history={history}>
      <div>
      <Switch>
          <Route exact path="/" render={() => (<div><App/></div>)} />
          <Route render={() => (<div>Miss</div>)} />
        </Switch>
      </div>
    </ConnectedRouter>
  </Provider>

Replace the code in index.js it will work

[2018-11-23 13:41] lucassimon commented on #184
store.js

[code]

index.js

[code]

app.js

[code]

routes.js
[code]

[2018-11-23 13:49] sgal commented on #184
@lucassimon You have router reducer under key `route` (in `store.js`). It should be `router`.

[2018-11-23 14:11] lucassimon commented on #184
Jesus. Thanks @sgal

[2018-11-25 17:13] supasate commented on #176
Based on @wgao19's fix, I made a PoC in #191. Please check it out and let me know what you all think.

[2018-11-25 17:47] #174 closed

[2018-11-26 23:42] sebastianhealthiq commented on #115
I had this issue using the immutable version of connected-react-router, just had to replace all imports with:
`import { connectRouter } from 'connected-react-router/immutable'`

[2018-11-27 00:10] hutber opened #192 "Using CRR in isomorphic > `Invariant Violation: Browser history needs a DOM`"
I am receiving the error which for all purposes I believe I should not be :)

v5.0.1
"react-router-dom": "^4.3.1",

The flow is

**Client** `history.js` > `client/index.js` > `history = createBrowserHistory` > `<App history={history} />`

**Server** `history.js` > `server/index.js` > `history = createMemoryHistory` > `<App history={history} />`

I can confirm that Memory is being used on the serve

[2018-11-28 00:52] svey commented on #77
same

[2018-11-28 10:31] michalica commented on #74
Do you plan to release a migrating guide?  react-router-redux -> connected-react-router

[2018-11-29 02:58] bndynet commented on #159
I had the same problem and resolved it for some days. Finally, I found no **history** specified in tag `<Router>` and **Router** is **BrowserRouter**. I change it to `<Router history={history}>` (**Router** is default, not **BrowserRouter**) and the **history** is shared with router reducer.
Code as below:

**history.tsx**
[code]

**store.tsx**
[code]

**!App.tsx**

[code]
**CHANGE TO:**
[code]

[2018-11-30 07:46] denyo commented on #177
@brenoos your suggestion works but it's not the right way.
Most likely something is wrong with `routerMiddleware(browserHistory)` within `configureStore`, your `rootReducer`'s `router: connectRouter(history)` or your markup:
[code]

[2018-12-01 11:13] n-sviridenko commented on #129
Having a similar issue. It happens when calling `history.push()` or `dispatch(push())`. `<Switch />` renders twice. This causes: mounting -> unmounting -> mounting of the current route.

[2018-12-01 16:00] n-sviridenko opened #193 "Double-rendering"
Please run the following case:

[code]

Click on `foo -> bar -> baz` in both of the routers:
- "normal" router will output: `render baz` only once;
- "connected" router will output `render baz` twice.

Why?

[code]

[2018-12-01 16:01] n-sviridenko commented on #193
Our `history.push()` is called in an asynchronous redux-action, so we need it to work as expected in this case.

[2018-12-01 20:12] samuelcastro opened #194 "React Native Support"
Does connected-react-router support React Native?

[2018-12-03 01:14] gregnb commented on #193
I'm also dealing with this same issue

[2018-12-03 05:56] ynigoreyes commented on #184
Are you talking about `history` or `connected-react-router` ?

[2018-12-03 11:06] benj3 commented on #193
Also receiving this issue.

[2018-12-03 11:52] miestr commented on #184
geiIn.js has function parameter "state", and whereas other combined reducers ARE in this variable in form of the initial state OBJECTS (f.e. state.user or state.products), the router (state.router) is a Reducer FUNCTION and not object, so there is no property "pathname" on it. Please investigate the issue asap, as downgrading the version does not help..

[2018-12-03 12:11] miestr commented on #184
Found a solution. Do not define a router props when combining reducers, but pass it in the createStore call as connectRouter(history)(rootReducer), f.e.

root-reducer.js
[code]

store.js
[code]

Worked like charm for me.

[2018-12-03 15:37] jmcpeak commented on #74
I have a fairly complicated setup - I'm going through the conversion today - I use redux-persist and redux-saga as well.

I'll document the code I have to change - it might be a good base to start something from.

[2018-12-03 15:46] ghondar commented on #184
[code]

[2018-12-03 17:01] jmcpeak commented on #74
Was fairly straight - forward - he's my steps:

(Old code is commented out)

 yarn add connected-react-router

// import { routerMiddleware } from 'react-router-redux';
import { routerMiddleware } from 'connected-react-router';

// import { push } from 'react-router-redux';
import { push } from 'connected-react-router';

// import { ConnectedRouter } from 'react-router-redux';
import { ConnectedRo

[2018-12-03 19:32] brenoos commented on #177
Helloy @denyo

My store and reducers was OK, all other functions is working correctly.

But I wil return to this project later and try to use ` withRouter ` first in my decorator

[2018-12-05 01:09] bugzpodder commented on #176
Thanks for the awesome work!
react-redux just released the final version of v6:  https://github.com/reduxjs/react-redux/releases/tag/v6.0.0
Gonna give the connected-react-router@next branch a try later to see how it works out together!

[2018-12-05 03:55] Fandekasp opened #195 "how to properly type the reducer"
Related to https://github.com/supasate/connected-react-router/issues/173

versions:
* connected-react-router 5.0.1
* react 16.6.3
* react-router 4.4.0-beta.6
* redux 4.0.1
* react-redux 5.1.1

I'm trying to declare my root state but I keep getting errors on History which I haven't been able to resolve after hours.

reducer.ts
[code]

type check
[code]

If I cannot solve this issue, I'll change `Re

[2018-12-05 04:01] zedwang commented on #177
Hi,the docs maybe help you. https://reacttraining.com/react-router/web/guides/redux-integration

[2018-12-05 07:20] acaravia commented on #54
@progammer-rkt

Did you ever resolve this issue? I'm having very similar issue and very similar code.

[2018-12-05 12:18] brenoos commented on #177
Thanks @zedwang I will try this later, for now I will keep the other solution, thanks

[2018-12-05 12:18] #177 closed

[2018-12-05 14:21] ahce commented on #176
connected-react-router 6.0.0-beta.1 works for me with react-redux 6.0.0

[2018-12-05 14:22] kaigouthro commented on #176
oh! lovely.. thanks.

[2018-12-06 01:15] Ariex commented on #176
this problem been bug me for a while, finally find the solution, thanks!

[2018-12-06 03:20] samuelpena commented on #176
Worked for me as well! Thanks!

[2018-12-06 07:29] 951565664 commented on #184
[code]

[2018-12-06 16:39] hutber commented on #192
For peoples information:
The BrowserRouter component creates a history object of its own, and it's always the HTML5 history API which will not work in a non-DOM environment e.g. the server.

You could structure your app to not include the BrowserRouter on the server, or you could replace it with the Router component and pass it your own history object that will use the memory history in non-DOM en

[2018-12-06 16:39] #192 closed

[2018-12-06 20:07] johnryan commented on #176
I tried setting this up with `6.0.0-beta1` like so:

[code]

but still seeing the error:
`Uncaught Error: Could not find "store" in the context of "Connect(App)". Either wrap the root component in a <Provider>, or pass a custom React context provider to <Provider> and the corresponding React context consumer to Connect(App) in connect options.`

Is there another step that's missing here other than

[2018-12-06 23:16] bugzpodder commented on #176
I upgraded to react-redux v6 and connected-react-router v6 and everything worked.

[2018-12-07 21:26] unindented opened #196 "Library is not tree-shakeable"
This library does not have a `"module"` entry in its `package.json` pointing to an ESM build, and it doesn't have a `"sideEffects"` declaration in its `package.json`, so it's not possible for Webpack to do any tree-shaking optimizations on it. The end result in my app is that a single import like this one pulls the whole library:

[code]

You can see `react-router` properly configured with these t

[2018-12-08 11:24] paulincai opened #199 "react-redux@6.0.0 is now out"

[2018-12-08 16:07] bugzpodder commented on #199
Yes a beta version is already published by the author:
https://github.com/supasate/connected-react-router/issues/176

[2018-12-08 16:09] paulincai commented on #199
My mistake, there is already a ticket on that. Please allow me to just close this one as duplicate.

[2018-12-08 16:09] #199 closed

[2018-12-08 17:45] kaigouthro commented on #176
i've got this >
[code]

wrapped around this >>>
[code]

wrapped around this..
[code]

wroking.

 ihave a couple things turned off, in super dev mode right now... took 6 different starters and boilerplates and mashed them together with 10 different tutorials.. it's getting pretty savage... when done, it'll be the scaffolding for super-projects.... like... really really ambitious builds..  code spli

[2018-12-08 23:01] Cedware commented on #194
It doesn't seem to work with "react native" :/

[2018-12-09 07:53] 951565664 opened #200 ""how-to-get-the-current-browser-location-url " in my reducer"
I konw [how-to-get-the-current-browser-location-url](https://github.com/supasate/connected-react-router/blob/master/FAQ.md#how-to-get-the-current-browser-location-url)  in Component or Container， but I want get the current browser location url in my Reducer. I don't want to pass it with param
What's the best way to get the current browser location url in my reducer?

[2018-12-09 07:56] 951565664 commented on #200
`window.location.herf ` can get the current browser url, but it is not use "connected-react-router"

[2018-12-09 09:52] #176 closed

[2018-12-09 10:32] supasate commented on #176
[Connected React Router v6.0.0](https://github.com/supasate/connected-react-router/releases/tag/v6.0.0) has been released!

[2018-12-10 14:47] antgonzales commented on #200
@951565664 it's not generally a good practice to have different reducers reading from the state of other reducers. This is kind of the role of side effects middleware like Redux Thunks or Redux Sagas. If you want an action to occur as a result of a specific location, you should dispatch an action to your reducer using a side effect library.

[2018-12-10 20:31] alexseitsinger opened #201 "<ConnectedRouter> imports <Router> from wrong module"
[code]

When using ConnectedRouter, I receive the error:

However, when I use:

`import { Router } from "react-router-dom"`

I no longer receive this error. Looking into this, I noticed that ConnectedRouter uses:

`import { Router } from "react-router"`

When I attempted to use this manually, I received the original error again.

I believe the { Router } import should be updated to import from "re

[2018-12-10 21:41] gregnb commented on #129
Dealing with this same issue where my component will: mount, unmount and then mount again. Is there any solution to this problem?

[2018-12-11 01:50] damacisaac commented on #195
Couple things that might help:
- `RootState["router"]` should just be `RouterState`
- I don't think you want an optional history when connecting the router
- Make sure you're using `createBrowserHistory` and using the appropriate `History` type.

[2018-12-11 02:31] antgonzales commented on #201
@alexseitsinger can you provide the versions of your packages? Also, what's the contents of the `Layout` component and is it possible that it's not rendering the children correctly?

[2018-12-11 14:01] gregnb commented on #129
I found that changing any routes from using `component` prop to `render` prop did the trick:

Works
[code]

Renders 2x
[code]

[2018-12-11 14:01] gregnb commented on #193
I found that changing any routes from using `component` prop to `render` prop did the trick:

Works
[code]

Renders 2x
[code]

[2018-12-12 05:12] alyssamuu opened #204 "Infinite re-mounting when dispatching in componentDidMount of a route component"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the current behavior?**

After upgrading to latest connected-react-router and react-redux. When I mount a routed component that does a dispatch inside componentDidMount it gets into an infinite loop until eventually it hits the Maximum update depth exceeded error.

This only seems to happen inside a component that's mounted

[2018-12-12 05:31] bugzpodder commented on #204
Can you remove the beta and install latest for both this library and react redux?

[2018-12-12 05:46] alyssamuu commented on #204
Yep sorry, I've tried with @latest of all 3 packages:
[code]
Same issue.

[2018-12-12 05:49] alyssamuu commented on #204
This is what the console looks like and the error when it eventually hits the max, the component actually mounts just fine after that:

![infinite remount](https://user-images.githubusercontent.com/5483909/49849464-71b91480-fe25-11e8-85b3-1ac15e79e780.png)

[2018-12-12 14:38] embiem commented on #201
Quick comment: Had the same issue. Reason was that the installed react-router-dom was at v 4.4.0-beta.6 and react-router at version 4.3.1

Had to use exact versions in my package.json's (we're also using yarn's workspaces feature) and re-install the dependencies.

TL;DR: Check that the react-router and react-router-dom packages in your node_modules folder are at the same version.

[2018-12-12 15:43] jakewies commented on #193
I'm also having this issue. Note that I've followed the `connected-react-router` documentation in the `README` to setup the Redux `store` properly. I'm also on `react-redux@6.0.0` and `connected-react-router@6.0.0`.

I've created a simple use case to test:

[code]

On initial application load the `App` component will render two times:

[code]

This becomes a major issue depending on the complexity

[2018-12-12 16:31] alexseitsinger commented on #201
-  "react-router": "4.4.0-beta.6"
-  "react-router-dom": "4.3.1"

That was it - thanks for sharing. It resolved my issue.

[2018-12-12 16:31] #201 closed

[2018-12-12 16:40] jakewies opened #205 "ConnectedRouter is re-rendering when Redux store updates"
I recently migrated from the deprecated [`react-router-redux`](https://github.com/reactjs/react-router-redux) package to `connected-react-router` in order to successfully update `react-redux` to [`v6`](https://github.com/reduxjs/react-redux/releases/tag/v6.0.0). The migration went well enough thanks to the detailed docs for this project.

However, now that I am on `v6.0.0` of both `connected-react

[2018-12-12 18:14] merildev commented on #205
Same bug here, I tried different ways of rendering the component (prop, children prop, render prop) and it does not have any effect. The issue seems to be linked to `connected-react-router`.

[2018-12-12 19:20] radziksh commented on #205
@jakewies @merildev this workaround works for me:
[code]
https://github.com/supasate/connected-react-router/issues/193#issuecomment-446212265

[2018-12-12 19:36] jakewies commented on #205
@radziksh This has no affect on either of the problems this issue is trying to examine.

What versions of `react-redux` and `connected-react-router` are you using? The comment you posted is coming from [an issue](https://github.com/supasate/connected-react-router/issues/193#issuecomment-446212265) that references a different version of `connected-react-router`.

[2018-12-13 12:01] tolms commented on #141
I have the same problem

[2018-12-13 21:30] maamounapprise commented on #204
@supasate i am also facing same issue, it's rerendering for inifinity, tried v 5 didn't work at all even

[2018-12-13 21:41] madsmadsen commented on #204
I have the exact same issue, I'm running the latest version of connected-react-router and react-redux.

After a bit of debugging and reading https://github.com/supasate/connected-react-router/issues/205#issuecomment-446710683 I changed my `<Route component={MyComponent} />` into `<Route render={(_props) => <MyComponent />} /> the issue went away.

Now I didn't stop there, I went back, and tried ad

[2018-12-13 22:34] filoxo opened #206 "Incompatible with react-router v4.4.0-beta.6"
I was upgrading an older app and attempting to use connected-react-router, and encountered the following error being generated by react-router when attempting to wrap `Link`s and `Switch`es in this library's `ConnectedRouter`.

[code]

Repro example: https://codesandbox.io/s/ymk0787ox

I'm not familiar with how react-router previously allowed other Router implementations, but it seems that this fu

[2018-12-13 22:37] filoxo commented on #206
For additional context, I have to use that version of react-router because of issues with react-router `Route`s unable to properly handle React.lazy() components. The fix (https://github.com/ReactTraining/react-router/pull/6417) for that problem was merged but a new release hasn't been made yet.

[2018-12-13 23:12] filoxo commented on #206
Some additional info:

- Using v4.3.1 works fine
- I found a workaround by wrapping the `ConnectedRouter` in react-router's own `BrowserRouter` seems to have worked to silence the error, but of course, isn't ideal.

[2018-12-14 06:06] 951565664 commented on #200
why "it's not generally a good practice to have different reducers reading from the state of other reducers"?I just want all the logic to be processed in the `xxRedux.js`.I think that can improve the maintainability of the code. I have used Redux Thunks,

[2018-12-14 07:44] Annatsu commented on #205
@jakewies i cloned your repository to make some tests and try to fix the problem.

Looks like the problem was indeed inside the [ConnectedRouter](https://github.com/supasate/connected-react-router/blob/master/src/ConnectedRouter.js) component.

If you look at the file, in the function `createConnectedRouter`, it creates the `ConnectedRouter` extending React.Component.

Then, it creates a Container

[2018-12-14 19:19] CodyEakins opened #209 "Add testing support to the examples"
The `examples` section of this repository demonstrates a few great ways to configure and integrate `connected-react-router` into a project. However, none of the three provided configurations use a testing framework in their source code.

I find writing integration tests for components using `connected-react-router` to be difficult. It would be great if someone could add a "testing" section to the

[2018-12-15 00:27] #196 closed, assigned to nobody

[2018-12-15 12:31] mick-feller commented on #206
i am facing the same problem...

[2018-12-15 14:47] bitstrider commented on #38
+1 lets get match params into state

[2018-12-16 08:51] foffer commented on #205
FWIW I'm getting an `Invariant Violation: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.` error when calling setState in `componentDidMount` due to the multiple renders

[2018-12-18 22:36] jasan-s opened #210 "protected routes issue switching from react-router-redux"
I am in progress of migrating my app to from `react-router-redux`  -to --> `connected-react-router` however I'm seeing an issue. Currently I have certain routes that are protected(requires authed users) i.e dashboard
[code]
[code]

The Authorization component looks like:
[code]

After user logs in he is directed to `/dashboard` path and `token` is saved to auth in redux store(which is persisted to

[2018-12-20 10:29] 3nvi opened #211 "Weird renders on connected Components"
There is a strange bug that appears when i switch from a normal `<Router>` to a `<ConnectedRouter>`.

Whenever a component is connected, the `ConnectedRouter` (as mentioned in other issues) re-renders on every store update, but another weird issue occurs that i really can't pin it down to something particular.

What happens is that, when a random action is fired, **any** component that is `connect

[2018-12-20 12:24] zdila opened #212 "Server-side rendering doesn't work"
When using SSR with `ReactDOMServer.renderToString` I get following exception:

[code]

Dependencies:

[code]

Compoents:
[code]

Rendering client-side only works.

[2018-12-20 15:19] zdila commented on #212
Minimal testcase:

[code]

[2018-12-20 20:17] danzGentrack opened #213 "Typescript: correct typing for an empty RouterState"
connected-react-router: 6.0.0
typescript: 3.2.2
I would like to pass an initial state to createStore, for example, to set the start count to 10 in the following example:
https://github.com/supasate/connected-react-router/blob/master/examples/typescript/src/index.tsx
I have to do the following to make TSC happy, but it doesn't look right to me.
Can anyone suggest a proper way of doing this? Thanks.

[2018-12-21 11:48] alexhoo commented on #204
Same issue here regarding infinite component mount

[2018-12-21 13:38] kevindice commented on #212
You may want to use `<StaticRouter>` on the server side.  Here's an example from a repo that adds SSR to a non-ejected CRA starter app.  https://github.com/cereallarceny/cra-ssr/blob/master/server/loader.js

[2018-12-21 15:42] neuralsea opened #214 "Strongly typed combine reducers"
I am new to react / redux and would appreciate the guidance of a more expert hand in helping me understand and resolve the issue below: (the general approach, how to fix and an understanding of why it has happened)

index.ts
--------
// example requires
export default (history) => combineReducers({
  router: connectRouter(history),
  layout: layoutReducer
})

export interface ApplicationState {

[2018-12-21 15:54] neuralsea commented on #214
export default function configureStore(history: History, initialState: ApplicationState) : Store&gt;ApplicationState&lt; {

[2018-12-21 18:33] huyz commented on #69
So there's no equivalent to [basename in react-router](https://reacttraining.com/react-router/web/api/BrowserRouter/basename-string)?

@jhwheeler Did you get this working?

[2018-12-24 17:31] fizzvr commented on #159
Ok its working on development, but I have a problem with serve the statics index the console says and didn't display anything.
[code]

On deploy the statics and serve with express with

[code]
Follow these steps works well but serving not working IDK what happens.

[My index](https://github.com/fizzvr/sintriga/blob/patch-login2/src/index.js)

[My dispatch](https://github.com/fizzvr/sintriga/blob/4

[2018-12-27 09:35] Louis-Chen commented on #206
same problem +1

when i use jest test it happened

[2018-12-27 20:16] #193 closed

[2018-12-27 20:49] supasate commented on #211
It should be fixed in [v6.1.0](https://github.com/supasate/connected-react-router/releases/tag/v6.1.0). Please let me know if it helps and feel free to re-open this issue if the problem still exists.

[2018-12-27 20:50] supasate commented on #205
It should be fixed in [v6.1.0](https://github.com/supasate/connected-react-router/releases/tag/v6.1.0). Please let me know if it helps and feel free to re-open this issue if the problem still exists.

Thank you all for your contributions!

[2018-12-27 20:50] #205 closed

[2018-12-27 20:51] supasate commented on #204
It should be fixed in [v6.1.0](https://github.com/supasate/connected-react-router/releases/tag/v6.1.0). Please let me know if it helps and feel free to re-open this issue if the problem still exists.

[2018-12-27 20:51] #204 closed

[2018-12-27 20:52] supasate commented on #129
It should be fixed in [v6.1.0](https://github.com/supasate/connected-react-router/releases/tag/v6.1.0). Please let me know if it helps and feel free to re-open this issue if the problem still exists.

[2018-12-27 20:52] #129 closed

[2018-12-27 20:54] #178 closed

[2018-12-27 20:56] supasate commented on #126
It should be fixed in [v6.1.0](https://github.com/supasate/connected-react-router/releases/tag/v6.1.0). Feel free to re-open this issue if the problem still exists.

[2018-12-27 20:56] #126 closed

[2018-12-27 21:55] jakewies opened #219 "Fix test that checks for double-rendering of ConnectedRouter component"
In a [recent PR](https://github.com/supasate/connected-react-router/pull/208) @Annatsu fixed a crucial issue regarding `ConnectedRouter` rendering on unrelated Redux store updates.

In that PR [a test](https://github.com/supasate/connected-react-router/blob/master/test/ConnectedRouter.test.js#L126-L143) was introduced to confirm that `ConnectedRouter` **only renders once** on initialization:

[cod

[2018-12-28 18:21] CodyEakins commented on #209
Any update/feedback on this?

[2018-12-31 18:11] ahce opened #220 "Version 6.1.0 is broken"
- The action LOCATION_CHANGE is called after componentDidMount of the component, this causes my sagas to be canceled.
I use redux-saga and cancel them with LOCATION_CHANGE.

v6.1.0
![image](https://user-images.githubusercontent.com/12452003/50565263-bbea3300-0d0b-11e9-8ced-f77a87b4a1ee.png)
v6.0.0
![image](https://user-images.githubusercontent.com/12452003/50565259-b12f9e00-0d0b-11e9-9e5e-1ca4ed56

[2019-01-01 09:17] supasate commented on #220
For the LOCATION_CHANGE calling after componentDidMount, this is intended to fix the old implementation by moving the dispatching from `constructor` to `componentDidMount`. (see this [comment](https://github.com/supasate/connected-react-router/pull/208#issuecomment-448169962).

For the goForward, can you explain a bit more? Is there any minimal repo to reproduce it?

[2019-01-01 09:48] supasate commented on #79
Closing as already fixed in #150.

[2019-01-01 09:48] #79 closed

[2019-01-01 10:03] supasate commented on #151
Closing as it's not an issue related to this repo and there's no discussion.

[2019-01-01 10:03] #151 closed

[2019-01-01 13:58] ahce commented on #220
@supasate Thanks for your reply!
[The repo](https://github.com/ahce/connected-react-router-610)
Use this [extension](https://chrome.google.com/webstore/detail/redux-saga-dev-tools/kclmpmjofefcpjlommdpokoccidafnbi) for test the sagas and actions.

[2019-01-02 16:22] 3nvi commented on #211
Hey there and happy new year! Your changes fixed my issue partially.

Now the components don't re-render on every redux action, but they do re-render on the `connected-react-router`'s actions, regardless of whether they are subscribed to it or not.

I made a change to my previous example and instead of manually firing a `window.store.dispatch`, I now have a `<Link>` component that, when clicked, t

[2019-01-02 19:24] simontong commented on #204
I'm still getting the issue

[2019-01-03 08:04] xyunsh opened #223 "Redirect with hash history will lead to an infinite loop"
1. use create-react-app create a react demo
2. yarn start
3. change url http://localhost:3000/#/home to http://localhost:3000/#/, this will cause an error:
[code]

[code]

[code]

[code]

[code]

[code]

[2019-01-03 09:42] Curzy opened #224 "v6.1.0 History push fires additional history"
I made a test case fo this circumstance
[code]

and it's result

[code]

logged history changes
[code]

every push actions fire another push to `/` entry and component mount additional time

[2019-01-03 12:48] bruziev commented on #159
Make sure in component you are declare routes, wrapped with **withRouter**:
[code]

[2019-01-03 19:38] arnaud-zg commented on #194
Is there anything planned for this issue ?

[2019-01-03 23:26] postfalk opened #225 "Examples don't use configureStore.js"
In that regard documentation and examples are out of sync. The resulting question is how to handle the history object in ```<App history={history} />``` if created in configureStore.js or in a factory function.

[2019-01-04 03:11] syjstc commented on #220
Got similar problem here, but backward. The problem is caused by the listeners of `react-router`'s history and the subscriber of `redux` store.

`Router` component from `react-router` will listen to history in` componentWillMount`. (v 4.3.1 used by latest `connected-react-router`).
But `ConnectedRouter` will do that in `componentDidMount` instead of ` constructor`.
The order of these listeners are

[2019-01-04 16:49] supasate commented on #204
@simontong Can you provide a minimal repo that can reproduce the issue?

[2019-01-04 18:51] ryank311 commented on #220
We saw really odd behavior as well in our application when upgrading to the latest version.  We had two pages, both with back buttons and we would somehow get into a circular loop.

1. Page 0, click a link to Page 1
2. Page 1, click a link to Page 2
3. Page 2, click a button that calls (back) and navigate to Page 1
4. Page 1, click a button that calls (back) and navigate to Page 0

Works fine on v

[2019-01-05 18:36] supasate commented on #220
@ahce @syjstc @ryank311 Can you all try again with connected-react-router@next (6.2.0-beta.1) if it solves the problem?

[2019-01-06 08:22] #225 closed, assigned to nobody

[2019-01-06 13:46] simontong commented on #220
@supasate  - That fixed it for me too, thanks

[2019-01-06 16:45] nvma commented on #220
Wew, thought it was something on my end, spent couple of hours digging through the code. Upgrading to a current `6.2.0-beta.3` solved it. Much appreciated.

[2019-01-06 18:15] chrispaynter commented on #220
Thank you for this fix, `6.2.0-beta.3` has saved my sanity.

[2019-01-06 18:42] arnaud-zg commented on #194
Hey,

I tried to implement it on a project, firstly it doesn't work. I have some conflict between `redux` and `react-router-native`.

Stack trace:
[code]

So I try to use `NativeRouter` in that way, but I still have an error that tell me I have to use `react-redux v6`.
[code]

After upgrade from `"react-redux": "5.0.7"` => `"react-redux": "6.0.0"`, it works !

[2019-01-07 22:21] jimmythompson commented on #224
Upgrading to 6.2.0-beta.3 fixed this for me.

[2019-01-08 01:44] xyunsh commented on #223
Yes, browser history will lead to entire page refresh, it work well

[2019-01-09 16:59] harrygreen commented on #220
We had the same issue - `6.2.0-beta.3` has solved it. Thanks @supasate!!

[2019-01-09 22:09] quentez opened #229 "Significant performance impact with v6"
We've been trying to move to version 6 a few times since it first came out, but we always end up reverting because of its performance impact. Our average JS compute time when going from one page to the next is almost double with v6 what it was with v5.

Any idea what could be the reason for this?

[2019-01-10 04:45] #224 closed

[2019-01-10 12:44] j13l commented on #220
Had the same issue where components were mounted twice after `history.push`, lost 1/2 day debugging, `6.2.0-beta.3` fixes it. Thank you!

[2019-01-10 17:20] jesus-chacon opened #230 "Redirection not work after action"
Hi, I have using connected-react-router 6.1.0 in my react project stack.

react -> 16.7.0
react-router-dom -> 4.3.1
react-redux -> 6.0.0
redux-thunk -> 2.3.0

I have configurated my app, and router works perfectly (I can use the Redirect component from react-router). The problem that I have detected is produced when I am doing an API call (action) and before I want to redirect (promise finish). I

[2019-01-11 10:07] cvanem commented on #229
@quentez I recently updated to version 6 and have not noticed any slow down on a fairly large React application with 25+ routes.  How much compute time are you talking about?  I typically don't see anything larger than a few milliseconds when switching routes, unless there is a lot of processing involved elsewhere.

[2019-01-11 12:19] chrispaynter commented on #220
I think this fix is important enough to get published into NPM with a hot fix.

[2019-01-12 15:06] supasate commented on #220
v6.2.0 has been released :)

[2019-01-12 15:06] #220 closed

[2019-01-12 15:08] supasate commented on #158
I expose it in v6.2.0.

[2019-01-12 15:08] #158 closed

[2019-01-12 15:16] supasate commented on #194
I'm not familiar with React Native. So, if anyone would like to contribute to FAQ or provide a working example in the examples folder, feel free to send a PR :)

[2019-01-12 15:16] #194 closed

[2019-01-12 15:22] #160 closed, assigned to nobody

[2019-01-12 15:44] #136 closed

[2019-01-12 15:47] supasate commented on #223
Does it still happen with v6.2.0?

[2019-01-12 15:56] kaliszKrzysztof commented on #141
The same here 😢

[2019-01-13 07:34] supasate commented on #206
@filoxo I saw your codesandbox uses react-router-dom@4.4.0-beta.6, but, uses react-router@4.3.1.

![image](https://user-images.githubusercontent.com/237753/51082580-af6ecd00-1744-11e9-82c0-9840fa345e0a.png)

I created a test repo here https://github.com/supasate/test-react-router-4.4.0 and it works well by using react-router and react-router-dom v4.4.0-beta.6. I saw the error appeared if I change

[2019-01-13 09:58] ZeroCho opened #231 "[ts] Parameter 'state' implicitly has an 'any' type."
Regarding [this commit](https://github.com/supasate/connected-react-router/commit/b7bc1ac6a5eaf43e8526ce2166a302055852af4f#diff-b52768974e6bc0faccb7d4b75b162c99), `Parameter 'state' implicitly has an 'any' type.` error happens. I think `noImplicitAny` should be applied for all `.d.ts` files. It's what DefinitelyTyped recommends.

[2019-01-13 09:59] fwh1990 opened #232 "Any type errors when compile."
**Version:** 6.2.0

[code]

[2019-01-13 10:03] fwh1990 commented on #231
Yeah, I got the same error.

[2019-01-13 14:51] supasate commented on #231
Can you help fire a PR to fix this?

[2019-01-13 14:52] supasate commented on #232
Closing as duplicated with #231.

[2019-01-13 14:52] #232 closed

[2019-01-13 14:59] supasate commented on #231
Fixed in v6.2.1.

[2019-01-13 14:59] #231 closed

[2019-01-13 18:08] kopax opened #234 "How can I tell react router tree chunking to load before page change?"
I saw `React.Lazy` appear recently in React 16.6.

I also see react team recommend [loadable-components](https://github.com/smooth-code/loadable-components), I also see a similiar [react-loadable](https://github.com/jamiebuilds/react-loadable).

I want to enable route chunking but I also want to be able to have a top loading bar indicator.

This means I want to lock the view while the next page is

[2019-01-14 08:42] willdurand commented on #158
Thanks!

[2019-01-15 10:36] afitiskin commented on #211
@3nvi issue could be solved with using `PureComponent`:

Change your component's code to the following:
[code]

In console you will see "rendered" message only once

[2019-01-15 11:40] JacquesBonet opened #236 "Typescript example doesn't compile"
The variable `store` is undefined under `index.tsx` file

[2019-01-15 13:20] gunnarsireus opened #237 "Typescript doesn't compile"
Sorry my fault

[2019-01-15 13:41] #237 closed

[2019-01-15 13:41] gunnarsireus commented on #237
No problem

[2019-01-16 12:11] Funkyskank commented on #230
Try to update connected-react-router to v6.2.1 and wrap your App component in Route
[code]

[2019-01-16 12:50] damian66 commented on #230
@Funkyskank I am experiencing the same issue and updating to v6.2.1 didn't help with the problem.
Of course, my component is wrapped in the Route.

[2019-01-16 12:53] jesus-chacon commented on #230
@damian66 and @Funkyskank Just now I have resolve the problem only doing a new setup of the project I think that is a problem with the order of my import but I am investigating about that.

Thanks.

[2019-01-16 14:44] YunzheZJU commented on #230
Similar problem under v6.2.1. Locking connected-react-router to v6.0.0 helps me.

[2019-01-18 00:57] abeledovictor opened #238 "react-redux does not contain an export named ReactReduxContext"
I'm setting up `connected-react-router` for a personal project, and this error arises when I follow the steps from the _README_

[code]

I think is a compatibility with react-redux thing, maybe?

**package.json**
[code]

[2019-01-18 07:35] yuliyan commented on #238
Your version of `connected-react-router` requires using `react-redux` version 6 and later. Try to upgrade to the latest version of `react-redux` with `yarn upgrade react-redux -L` and you should be good to go.

[2019-01-18 12:37] vospascal opened #239 "Push vs POP action backbutton bug"
If got a problem the redux state is always up-to-date and renders the right location pathname.
when i use <Link> component from react-router-dom of use push form connected-react-router everything works fine.

But, when using the backbutton and the action pop is used it changes the redux state but the page stays the same.

so forward works backwards doesnt, any tips?

[2019-01-18 14:31] vospascal commented on #239
found out it was this problem https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/guides/blocked-updates.md

[2019-01-18 14:32] #239 closed

[2019-01-19 01:43] abeledovictor commented on #238
Yes! that was the issue. Thanks

[2019-01-19 01:43] #238 closed

[2019-01-20 02:11] #128 closed

[2019-01-20 02:45] supasate commented on #236
Fixed.

[2019-01-20 02:47] supasate commented on #206
Closing for now. If anyone still has this issue, feel free to add more comments and provide some minimal reproducible github repo.

[2019-01-20 02:47] #206 closed

[2019-01-20 03:29] vchouhan opened #241 "Error `Could not find "store" in the context` when adding context to the provider and connectedRouter"
Based on the migration to v5 and v6 and with the following code I'm getting the error listed below.

**error message on application start**
`
Could not find "store" in the context of "Connect(Home)". Either wrap the root component in a <Provider>, or pass a custom React context provider to <Provider> and the corresponding React context consumer to Connect(Home) in connect options.
`

**Packages:**

[2019-01-20 10:51] strobox commented on #38
My thumb up to @brneto, but can't do
```import { createMatchSelector } from 'connected-react-router'; ```
in TypeScript envirement
so I used
``` import {createMatchSelector} from 'connected-react-router/esm/'; ```
Maybe wrong but works

[2019-01-20 11:04] strobox commented on #38
Anyway, @brneto , I also +1 for match params into state, because otherwise it is impossible to create reusable component with nested routes:
[code]

[2019-01-20 11:12] strobox commented on #38
It is very elegant and convenient to use:
[code]
for those who already use react hooks, but it will be better to have same ability in **connected-react-router**

[2019-01-21 03:07] tomzaku opened #242 "(ConnectedRouter) `connect` function always re-rendering when route change"
Same issue at [here](https://github.com/supasate/connected-react-router/issues/205), still re-rendering

Version:
[code]
Line 24 at https://codesandbox.io/s/qx15olry2q
Swith ConnectedRouter to Router and click the button to see the different

[2019-01-21 12:06] 3nvi commented on #211
@afitiskin Hey there,

the thing is that under the hood `connect` already implements a `PureComponent` logic (that's why whenever your redux props stay the same your component doesn't re-render).

`ConnectedReactRouter` simply bypasses that while a normal `Router` doesn't. Although this will be a solution, I wouldn't want to force an explicit `PureComponent` on all my `connect`ed components, since

[2019-01-21 14:36] shieldo commented on #241
@vchouhan Just a check: did you restart your app after bumping your local package? I'd been getting the same error until I remembered I still needed to do that.

[2019-01-22 11:37] visualcookie commented on #119
Any update on this?

@jackyef Have you found a solution?

[2019-01-22 15:57] UbikZ opened #244 "Error `Could not find "store" in the context of "Connect(ConnectedRouterWithContext)"`"
**Context**
* I need to deliver a UMD library which export one global component.
* This component will initialize all the stuff I need (store, i18n, routes, etc.)

**Error**
* I've built a minimalist project to highlight the issue : https://github.com/UbikZ/connected-react-router-issue (mainly https://github.com/UbikZ/connected-react-router-issue/blob/master/src/Issue.js to the entire library code

[2019-01-23 11:16] firov commented on #38
Problem of this method, you must know path matcher. If you have two paths like
* /boxes/<box_id>/
* /boxes/edit/<box_id>
You have to check both.

[2019-01-23 18:50] UbikZ commented on #244
Seems like `ReactRouterRedux` context (https://react-redux.js.org/using-react-redux/accessing-store) is failing to be used with the ecosystem I want to use : **client JS <-> remote own framework JS <-> remote libraries  (react, redux, etc.).**

Find a way to handle this properly : **need to use custom context in several places**.

`const StoreContext = React.createContext(null);`

[code]

And conn

[2019-01-23 18:50] #244 closed

[2019-01-24 11:14] goszczynskip opened #246 "onLocationChanged action not present in type definitions"
onLocationChanged action is not present in typescript type definitions

[2019-01-24 19:08] bertho-zero commented on #230
I had the same problem in a monorepo, I installed version 6.2.2 everywhere so that there is only one version and it worked.

[2019-01-26 20:50] c-o-l-o-r opened #250 "Unmet peer dependency 'react-router' despite having 'react-router-dom'"
I'm getting a warning in during package installations saying the following:

`connected-react-router@6.2.2" has unmet peer dependency "react-router@^4.3.1"`

However, I have `react-router-dom` as a dependency already which installs `react-router`. It seems to be working correctly, but it feels like a bug that `connected-react-router` doesn't realize I have a package which install `react-router`.

[2019-01-27 07:13] coldshower commented on #184
The current setup documentation refers to version `5.0.0` and `5.0.1`. It's very possible that you are installing a different version that is set up differently.

[2019-01-28 20:35] kushalmahajan commented on #212
I'm facing the same issue without SSR.

[2019-01-28 20:46] kushalmahajan opened #251 "getState of undefined in Provider.js when using redux-react-hook"
I followed all of your README. Since I'm using CRA it was aligned to that. So code structure may be same

What's different is that I'm using `redux-react-hook` and react 16.7.2-alpha version for this.

Here's how my index.tsx looks like

[code]

Here's `configureStore.js`

[code]

`redux-react-hook` get a store value as well. I tried without React-redux provider but it asks for a wrapping at root

[2019-01-29 05:56] kushalmahajan commented on #251
It was a store and not value for<Provider  store={store()}>

[2019-01-29 05:56] #251 closed

[2019-01-29 13:15] ifeanyidavid opened #252 ""context.store is undefined""
I get the error: `context.store is undefined`
Here's my code:
[code]

[2019-01-31 11:33] addamove commented on #159
Same for me: location changed, action dispatched - component not changed

[2019-02-05 08:07] marcelowa commented on #230
Same problem here
Locking the version to 6.1.0 fixed the issue, but I hate staying in an outdated version

[2019-02-06 10:21] KvanSteijn commented on #230
I have the same issue. Downgrade to v6.0.0 fixed the problem.

[2019-02-06 20:49] arnaud-zg commented on #194
Yep, I'll make a working example and submit a pull request asap.

[2019-02-07 02:00] mjdavidson commented on #252
I'm getting this same issue except I'm not using context

[2019-02-07 15:26] silltho commented on #230
I'm having the same issue. Location got changed but component isn't loading.
Downgrading to v6.1 and 6.0 didn't help. Please help !

[2019-02-08 09:58] #246 closed

[2019-02-08 15:47] foodforarabbit commented on #230
so is the provided code the solution or the problem code?

Anyway I'm getting a similar issue... yield(put(push('/location'))) in a saga will change the url, but not rerender. The location in the store is changed (can see the change via selectors) but <Switch> component doesn't seem to be picking up this change (in the react inspector, it shows the previous location in the context). However, if I

[2019-02-11 06:24] yash2code opened #254 "typescript compatibility issue"
When using it with typescript, it is giving error mentioned below:

_**Expected 2 arguments, but got 1.ts(2554) index.d.ts(60, 3): An argument for 'action' was not provided. (alias) connectRouter(history: History): Reducer<RouterState, LocationChangeAction> import connectRouter**_

for this code:

`export default createStore( connectRouter(history)(rootReducer), initialState, composedEnhancers );`

[2019-02-11 07:14] yash2code commented on #159
thanks. can you refactor it with typescript please.

[2019-02-11 13:13] moimael opened #255 "Typescript error with release 6.3.0"
With TypeScript 3.3.1 I get this error when using connected-react-router 6.3.0:

[code]

[2019-02-11 14:26] NatalyMac commented on #255
Hi, guys) I have the same issue
    "typescript": "^3.0.3",
 "connected-react-router": "^6.3.0",
and error
ERROR in [at-loader] ./node_modules/connected-react-router/index.d.ts:64:83
    TS2371: A parameter initializer is only allowed in a function or constructor implementation.
The error is here
---  export function onLocationChanged(location: Location, action: RouterActionType, _**isFirstRenderi

[2019-02-11 15:26] belgattitude commented on #255
Same with typescrit 3.3.3.

[2019-02-11 16:34] nikolay-borzov commented on #255
Will be fixed by https://github.com/supasate/connected-react-router/pull/253

[2019-02-11 21:45] flq commented on #255
@natalymac what do you mean by ignoring error?

Since I was just to take the plunge into redux 6.0 territory, what’s recommended here? Reverting to a previous versuon? Waiting?

[2019-02-11 21:50] flq commented on #254
This looks wrong - connectRouter produces a reducer function which should be combined with other reducers to become part of the rootReducer. Here you are trying to call it - since it’s a reducer, it is complaining about a missing action

[2019-02-12 15:37] KvanSteijn commented on #242
I have exactly the same issue. If i am switch back to Router, the page doesn't reload.

[2019-02-12 17:20] #255 closed

[2019-02-13 10:13] Favna commented on #159
I'm facing this same issue and despite the many issues and potential solutions on the repo I cannot manage to figure out a solution so if someone could give me a hand here that would be awesome. Right now the routing works to that the URL is updated, however the components are not refreshed. Upon a full browser refresh (F5 as it were) the proper updated data does show. For example when going from

[2019-02-13 12:07] KvanSteijn commented on #230
I found the solution. I have replaced some Components classes to PureComponent.

[2019-02-13 16:26] ymaz opened #256 "How to change action name LOCATION_CHANGE to custom one?"
Hi, is there a way to change existing Redux action `LOCATION_CHANGE` to `SOMETHING_ELSE` ?

Thanks,

[2019-02-14 18:53] sharynneazhar opened #257 "Unable to push using location-like object"
The react-router `push` method allows me to pass in a location-like object[1] like this:

[code]

This does not seem to be working with connected-react-router. Can someone look into this?

[1] https://github.com/ReactTraining/history#navigation

[2019-02-15 11:43] kprocks86 commented on #69
Thanks brother @Ciaran0  it working with this
[code]

[2019-02-15 15:43] cdcasey commented on #252
I have the same issue with upgrading react-redux and redux-form in an existing code base and then migrating from react-router-redux to connected-react-router.

[2019-02-15 15:58] cdcasey commented on #252
It actually looks like my issue may be using react-redux-ui-tools while trying to upgrade react-redux.

[2019-02-18 07:23] MitchWeiss opened #258 "createMatchSelector typedef string or object?"
There isn't much documentation on `createMatchSelector` but in other places eg #38, the parameter is an object:

`const matchSelector = createMatchSelector({ path: '/course/:id })`

The typedef added in #235 expects a string.

I believe the typedef is incorrect. My understanding of the code is that this parameter is provided as the second parameter in react-router's `matchPath` which expects an ob

[2019-02-20 08:41] AlexeyAbretov opened #259 "isFirstRendering always false"
in actions.js the method onLocationChanged has the parameter isFirstRendering but the method onLocationChanged from ConnectedRouter.js does not send a value.

**actions.js**
export const onLocationChanged = (location, action, **isFirstRendering = false**) => ({
  type: LOCATION_CHANGE,
  payload: {
    location,
    action,
    isFirstRendering,
  }
})

**ConnectedRouter.js**
const mapDispatchToPr

[2019-02-20 11:01] jancama2 opened #260 "Push action not working properly"
Package version: `connected-react-router@6.3.1`
I have:
`<Route path="/" component={HomePage} exact />`

In saga I do `push("/")` and the location is changed but HomePage is not rendered.
When I change in react-devtools `exact` on the `Route` to `false`, HomePage is rendered.

Downgrading to `connected-react-router@6.0.0` helped me to solve the problem.

[2019-02-20 18:21] cristian-sima commented on #241
Same here

[2019-02-20 18:21] cristian-sima commented on #241
@vchouhan what font are you using?

[2019-02-20 18:25] cristian-sima commented on #212
Mee too

[2019-02-21 00:29] grahamperich commented on #184
I tracked down the problem to line 105 in ConnectedRouter.js

[code]

I paused execution in the debugger to see what was going on. The problem is that `getIn(context.store.getState(), ['router', 'location'])` returns `undefined`. However if I remove `'location'` from the array, it gets the router object no problem. And, sure enough, `location` is a valid key on the `router` object. It seems to me

[2019-02-21 04:26] kswin opened #262 "Broken browser back button behavior"
Store updates from history.listen break browser back behavior, causing user to ping-pong between 2 routes.

Steps to reproduce:
1.  User visits `/home` ->`/hello` -> `/counter`
2. On `/counter`, clicks browser back and lands on `/hello`
3. On `/hello` clicks browser back

Expected behavior: lands on `/home`
Actual behavior: lands on `/counter`

GIF Illustration:
![ping pong](https://user-images.gi

[2019-02-21 04:27] kswin commented on #262
Similar behavior was described in #76, but this happens independently of `time travel` for me

[2019-02-21 12:45] victorhqc commented on #260
I'm having the same problem. Downgrading to `6.0.0` worked for me. Either documentation is not updated and we're doing something wrong, or there's a bug 🐛

[2019-02-21 14:30] elbaretto commented on #252
Experienced a similar issues. Someone seems to have documented it here: https://medium.com/@kenrimple/react-and-friends-are-sad-when-they-cant-play-together-or-the-story-of-connected-react-router-6e4b3870626d

Downgrading from react-redux 6.x.x to 5.x.x fixed the issues

[2019-02-23 04:23] cdtinney commented on #260
Downgrading to `6.0.0` worked for me too.

[2019-02-24 23:57] ashrafxcoder commented on #85
How about accessing `params` from a custom redux middleware that dispatches actions based on location changes

[2019-02-26 18:27] acaravia commented on #260
I downgraded to 6.0.0 and push now works however I run into the issue reported in [#242](https://github.com/supasate/connected-react-router/issues/242). So I've got to chose at this point which issue I can live with till this gets resolved.

[2019-02-27 20:24] rodrigobacelli commented on #187
There's this [migration to v1.0.0](https://redux-observable.js.org/MIGRATION.html) that uses mergeMap. RxJs [mergeMap](https://www.learnrxjs.io/operators/transformation/mergemap.html) docs also provides the reason to use mergeMap instead of map there.

There's no need to add an example in this repo just for this.

[2019-02-27 21:52] rodrigobacelli commented on #212
Me too, without SSR

[2019-02-28 10:13] jancama2 commented on #260
Btw version 6.0.0 works just fine while version 6.1.0 makes `push` and other action creators to break.

[2019-03-01 12:45] jancama2 commented on #211
I'm getting the same issue. `PureComponent` solves the problem but I really don't want to use it for all my wrapped components since `connect()` already does it.

[2019-03-03 16:05] supasate commented on #259
What the bug does it cause?

Basically, it's intended to be false except only for the first time [here](https://github.com/supasate/connected-react-router/blob/master/src/ConnectedRouter.js#L66).

[2019-03-04 07:34] jancama2 commented on #242
Try to use `react-router-dom@4.4.0-beta.7`. Solved the problem for me.

[2019-03-04 07:44] jancama2 commented on #260
Using `connected-react-router@6.3.1.` together with `react-router-dom@4.4.0-beta.7` solved all the problems for me. It solved #242 too, I guess because new react-router uses the new context API. It even the solves blocking updates issues `react-router-dom@4.3.1` have.

Even tho it is just a beta it looks stable and I highly recommend to try it. Looks like this issue can be closed.

[2019-03-04 08:36] AlexeyAbretov commented on #259
We use SSR in our apps.

We cannot determine the first LOCATION_CHANGE.

This needed to prevent get data on client because they received on server.

[2019-03-04 19:33] acaravia commented on #260
@jancama2 upgrading to `connected-react-router@6.3.1` together with `react-router-dom@4.4.0-beta.7` now breaks my implementation with following errors:

`Uncaught Error: Invariant failed: You should not use <Route> outside a <Router>`

and

[code]

Below is a little bit of my code:

App.js
[code]

I'm using withRouter in NavigationDrawer to get the location information since it is outside Route in

[2019-03-05 10:40] jancama2 commented on #260
Dont you have react-router installed twice with diff versions? Would try "npm dedupe"

[2019-03-05 15:46] ufukomer commented on #259
I don't user SSR but it is always same for me too. I've integrated connected-react-router with create-react-app.

[2019-03-05 17:19] supasate commented on #259
@AlexeyAbretov I re-read the code again and you're right. It's obviously a bug. The 3rd argument is passed from `handleLocationChange`, but, it is not forwarded to the `onLocationChange` props. I'm merging your PR.

[2019-03-05 17:22] #259 closed

[2019-03-05 19:47] acaravia commented on #260
@jancama2 unfortunately I don't have different versions.

[2019-03-06 07:45] jancama2 commented on #260
@acaravia try this one https://github.com/ReactTraining/react-router/releases/tag/v4.4.0-beta.1

[2019-03-06 16:26] mpigsley commented on #260
Just ran into this today. `connected-react-router@6.3.1` with `react-router-dom@4.3.1` is not working properly. Downgraded to `v6.0.0` fixed the issue.

[2019-03-06 16:30] acaravia commented on #260
@jancama2 still does not work I get a different set of errors:

![image](https://user-images.githubusercontent.com/16963221/53895790-a0d7c000-3fe7-11e9-9fa7-d1c7aedc46f0.png)

![image](https://user-images.githubusercontent.com/16963221/53895831-b3ea9000-3fe7-11e9-9f50-aefaa1e128a9.png)

I don't reference location in my route.js but I do reference it in my NavigationDrawer to get the selected locat

[2019-03-06 21:35] MateuszDev96 commented on #241
+1

[2019-03-07 07:27] jancama2 commented on #260
Well, they access `props.context` to get the consumer, I don't think it has something to do with not accessing `this.context`.

Have you tried to debug it using some minimal repo with your use case? (Would suggest trying to do it in codesandbox.io).

I have these deps and everything works just fine.
[code]

[2019-03-07 08:05] acaravia commented on #260
@jancama2 I'll see about getting something in codesandbox. My app is a good size so I'll have to find time to do it here soon. The thing is it works with connected-react-router 6.3.1 and react-router-dom 4.3.1 so something was done to break this existing functionality.

[2019-03-07 13:50] JerryGreen commented on #260
I agree it's broken with the pair of:

[code]

However, its works in:

[code]

It also works in:

[code]

I've chosen the last one. Thanks for the issue and the info!

[2019-03-08 00:04] acaravia commented on #260
@jancama2 here is a link to a quick sandbox I created that is throwing the same error I get now. When I change react-router-dom to use v4.3.1 it works. I've left it at v4.4.0-beta.7 for now so you can see the issue.

https://codesandbox.io/s/3kv928j1r1

[2019-03-08 08:02] jancama2 commented on #260
@acaravia The problem is that you have specified `react-router` version in package.json to be `4.3.1`. Install `4.4.0-beta.7` too or not install any. It will be installed properly by `react-router-dom`.

[2019-03-08 08:35] acaravia commented on #260
@jancama2 DOH!!! It's usually something simple like that. I really appreciate you helping me out with this. I was pulling what little hair I have left out and I'm bald! :) As far as I can tell looks like all issues are resolved for me using react-router-dom@4.4.0-beta.7.

[2019-03-08 09:12] jancama2 commented on #260
@acaravia  No problem, glad to help :))

[2019-03-09 18:37] moore0n commented on #241
I was encountering the same issue. I realized that I was using immutable in my application but not using the immutable versions of the connected-react-router. Updating my imports to be 'connected-react-router/immutable' fixed the issue for me.

Hope this may help anyone else having this issue.

[2019-03-10 19:03] ralphicus commented on #74
@jmcpeak Where does the history argument come from?

[2019-03-11 13:06] darkmanAmazigh commented on #118
until now, I can not recover on each of my pages the location_change

[2019-03-11 20:40] bmueller-sykes opened #266 "Initializing bug in 6.3.2?"
Hi,

After upgrading to 6.3.2 today, my published react project started acting wonky. What appears to be happening is that if I open my app in a browser, it will be re-directed to the last opened page. For example, let's say browser tab A is opened to:

`http://mysite.com/path/to/something`

...and then I open browser tab B and navigate to:

`http://mysite.com/totally/different/path`

...browser t

[2019-03-12 09:46] mdupont commented on #266
Same issue here, routing broken with react 16.8.4 using SSR, connected-react-router 6.3.2 and using createBrowserHistory. Version 6.3.1 works fine. I suspect the `isFirstRendering` fix that was included in 6.3.2 (#259).

App is available under a base path. When sending data to the browser after rendering on the server, the router location state is set to `/mybasepath/`, then just after the @@INIT

[2019-03-12 10:28] mdupont opened #267 "Base path doubled when loading SSR rendered page in 6.3.2"
**Stack:** react 16.8.4 using SSR, connected-react-router 6.3.2.

Version 6.3.1 works fine. I suspect the `isFirstRendering` fix that was included in 6.3.2 (#259).

**To reproduce:** make the app available under a base path, let's say `/myapp/`. Make sure it is passed on as the `basename` prop for `<StaticRouter>` (SSR) and through the history (`createBrowserHistory`) for `<ConnectedRouter>` (clie

[2019-03-12 15:52] mdupont commented on #267
Found why:
- the server side code was storing the full URL in the history since `MemoryHistory` does not support `basename`
[code]
- the initial state computed on the server-side and passed on to the client-side then had the full URL in the state at `router.location.pathname`
- if `isFirstRendering` is `false` (v6.3.1 and before), it does not matter since the initial LOCATION_CHANGE event results

[2019-03-12 15:52] #267 closed

[2019-03-13 10:24] mdupont commented on #266
I had a somewhat related issue (#267) caused by the fix present on v6.3.2 that makes `isFirstRendering` work properly (in earlier versions like v6.3.1, it was always `false`).

Since you say you're opening a new tab (therefore causing a "first rendering" of the page), I suspect it's the same cause.

I guess the problem comes from this statement in the reducer code: https://github.com/supasate/conn

[2019-03-13 12:11] DAlekseenko opened #268 "typescript error no exported ReactReduxContextValue"
Error:(4, 12) TS2305: Module '"../@types/react-redux"' has no exported member 'ReactReduxContextValue'.
@types/react-redux: 6.0.13
connected-react-router: 6.3.2
![DeepinScreenshot_выберите-область_20190313150441](https://user-images.githubusercontent.com/16455608/54277975-44a20c80-45a2-11e9-977d-ffb0fb29d779.png)

[2019-03-13 13:56] sugarshin commented on #262
+1

[2019-03-13 14:09] bmueller-sykes commented on #266
@mdupont That sounds like a plausible explanation. I don't see how this isn't bad behavior, though. In the world of a single page app, there are still times where you legitimately want to open a second window of the app, and you certainly don't want that new window navigating somewhere you didn't tell it to. In my case, I open that second window to a specific route (e.g. `/my/second/route`), and `

[2019-03-13 18:08] SaulGarza commented on #230
Dealt with this issue in version 6.3.1 with react-router-dom@4.3.1

The following previously stated answers did not fix it for me:

- PureComponent => Component on either the App.tsx or any containers.
- wrapping connected components with `withRouter()`
- Using the default `Router` component instead of `ConnectedRouter`

What did fix it for me was downgrading to version 6.0.0. After the downgrade

[2019-03-13 19:21] imjoshdean-tc commented on #250
@supasate Is there any code in `connected-react-router` that has actual dependencies that aren't in `react-router-dom`? If not, can we just change the peer dependency to `react-router-dom` instead of `react-router`?

[2019-03-14 22:04] SoaresMG opened #269 "Adding index.d.ts to @types repo"
Hi,

Is it possible to add the `index.d.ts` to the [@types](https://github.com/DefinitelyTyped/DefinitelyTyped) global repo?

I need `connected-react-router` but as a `peerDependency` due to my project's structure, I see 3 options:

- Add `index.d.ts` to the `@types` repo
- Use it as a `peerDependency` AND a `devDependency`
- Copy the file manually to my project (not really a solution)

I can do i

[2019-03-15 06:37] eseQ opened #270 "Query string in route"
Hello.
After I start to use `connected-react-router` my app stop detect query params on page reload.

For exp: `/test/new?q=string` not match `<Route path="/test/new" />`;
All right on `history.push` but it is broken on page reload.

[2019-03-15 17:08] testacode commented on #123
Was looking for the same. Can't find any kind of example for the action creators to use with redux-saga for replace or which params can I use with push.

[2019-03-15 20:10] lolz42 commented on #260
Am I the only one who still has a problem with rendering ?

[code]

[2019-03-15 20:21] lolz42 commented on #260
I still have a troubles with rendering and I am using:

`"connected-react-router": "6.0.0",
"react-router-dom": "4.3.1" `

[2019-03-15 23:37] acaravia commented on #260
@lolz42 if you upgrade to `"connected-react-router": "6.3.1"` and `"react-router-dom": "4.4.0-beta.7"`making sure that `"react-router": "4.4.0-beta.7"`as well. It all works, hope that helps.

[2019-03-16 07:40] lolz42 commented on #260
@acaravia thanks for reply!  I've tried `"connected-react-router": "6.3.1", "react-router-dom": "4.4.0-beta.7" and "react-router": "4.4.0-beta.7"` and it still doesn't work 🤦‍♂️ I guess that I am doing something wrong. Here is my config

[code]

[code]

[2019-03-16 08:02] acaravia commented on #260
@lolz42 you check you don't have duplicate installs of react-router and react-router-dom with different versions?

I noticed is you have your configureStore setup as a function and the initial state of your store isn't being initialized since you never pass anything into preloadedState parameter. Maybe set a default (i.e. preloadedState = {}.

[2019-03-16 09:04] lolz42 commented on #260
@acaravia

`
"dependencies": {
    "bootstrap": "^4.3.1",
    "connected-react-router": "^6.3.1",
    "firebase": "^5.9.0",
    "formik": "^1.5.1",
    "node-sass": "^4.11.0",
    "react": "^16.8.4",
    "react-bootstrap": "^1.0.0-beta.5",
    "react-custom-scrollbars": "^4.2.1",
    "react-dom": "^16.8.4",
    "react-redux": "^6.0.1",
    "react-redux-firebase": "^2.2.6",
    "react-router": "^4.

[2019-03-16 12:11] lolz42 commented on #260
Finally solved! This commented helped me a a lot https://github.com/supasate/connected-react-router/issues/159#issuecomment-442688247 😄

[2019-03-16 17:39] oniice opened #271 "[QUESTION] Does this project sync state to browser history"
Does this package sync the redux state on browser navigation? So if a user pressed `Back` on their browser, it will replace the state to what it was before the navigation change?

I believe this is what `syncHistoryWithStore` did in `react-router-redux` and since this is the advised replacement, I was hoping/assuming this would do that?

If not, is there a way I can time travel back to the the red

[2019-03-17 10:35] gshilin opened #272 "Error after upgrade from 6.3.1 to 6.3.2"
After upgrade from 6.3.1 to 6.3.2 I got the following error:
[code]
That's not a new project and nothing else changed.

Here is backtrace:
[code]

[2019-03-18 06:15] eseQ commented on #270
I just start to use [another library](https://www.npmjs.com/package/react-router-last-location). Maybe someone finds it helpful.

[2019-03-19 11:51] ChristianJacobsen commented on #272
I get the same error, but only when using SSR.

[2019-03-19 17:59] chasecaleb commented on #268
I can verify this. This was first introduced in [release 6.3.0](https://github.com/supasate/connected-react-router/releases/tag/v6.3.0) via #245, which bumped the version of `@types/react-redux` to `^7.0.0`.

I'm not really sure what the right way to handle this is, but I want to point out that v7 of react-redux is still in alpha as of today - check out [their releases](https://github.com/reduxjs/

[2019-03-19 20:35] mikecousins opened #274 "Support for react-router 5.0.0"
Should just need a peer dependency update I think. It's a non-breaking change in react-router supposedly.

[2019-03-20 08:22] DAlekseenko commented on #268
Мне помогло обновление до версии @ types / Reaction-redux 7.0.5!

[2019-03-20 08:22] #268 closed

[2019-03-20 15:34] sugarshin commented on #274
+1

[2019-03-20 18:28] bmueller-sykes commented on #266
Okay, so it looks like adding `blacklist: ['router']` to the `redux-persist` config options does the trick. I'll close this for now, and re-open if that turns out not to fix the issue.

[2019-03-20 18:28] #266 closed

[2019-03-21 22:09] joshiefishbein opened #275 "createMatchSelector returns undefined for params when route.path is an array"
When defining routes in `react-router` you are able to [pass an array of path matches](https://reacttraining.com/react-router/core/api/Route/path-string-string).

When using `createMatchSelector` and passing in the route with multiple paths, it will fail to match against the params:

[code]

Since the readme touts React Router 4 support, I'd expect it to find which element in the array the current

[2019-03-22 00:23] rivernews commented on #260
Just to add one more successful case - previously `push()` won't work in my saga either, but now it navigates successfully. It turns out the way I dispatch in saga is wrong.

Instead of:

[code]

You should write
[code]

`yield [put(SuccessAuthAction()), put(push("/home/"))];` won't work as well.

About version - I use React + Typescript with `"react-router-dom": "^5.0.0", "connected-react-router"

[2019-03-22 06:04] neroneroffy commented on #212
same issue when using ssr

[2019-03-22 16:38] mbifulco commented on #266
@bmueller-sykes - dropping in to say that the blacklist fix worked for me as well.  If you're running a production app, you may also want to add a [migration](https://github.com/rt2zz/redux-persist#migrations) to remove `router` from your existing users' persisted states:

Mine looks like this, and seems to do the trick:

[code]

[2019-03-25 00:33] Alex1100 commented on #254
Confirmed, I am also running into this issue.

[2019-03-25 11:54] AJamesPhillips commented on #230
@foodforarabbit that's problem code.
I was doing the same thing nesting `BrowserRouter` under `ConnectedRouter` and it caused the `Redirect` to update the page url but the redux state was not being updated.  Removing the nested `BrowserRouter` allowed it to then work fine.  Eg:

[code]

[2019-03-25 11:58] AJamesPhillips commented on #271
@oniice https://github.com/supasate/connected-react-router#main-features lines 6 and 11 of the readme seem to answer your questions?

[2019-03-25 15:23] dominikbulaj commented on #272
Had the same. Downgraded to 6.3.1 and it works. Issue seems to be within reducer's `router: connectRouter(history),` (returned object's `action` is undefined)

[2019-03-25 19:31] foodforarabbit commented on #230
Oh that code isn't mine, I was just quoting the guy above me.

The problem seems to have gone away on my end, not sure if I upgraded a package and it fixed itself or what happened.

Recently, I upgraded react-router-dom from 4.3.1 to 4.4.0-beta.7 (connected-react-router is at 6.3.2).

However, I haven't really been testing it extensively so I'm not entirely sure if the problem has gone away - if a

[2019-03-25 21:52] wpwood opened #278 "Please add displayName property to components"
Please add a displayName property to these components, as detailed in https://reactjs.org/docs/react-component.html#displayname. Without this, when the component is compiled and shown in the Chrome Devtools React tab, we see the compiled, name-mangled version instead of the intended component name.

[2019-03-26 20:23] Puspendert opened #279 "Browser router doesn't work with react-router-dom 4.3.1"
I am having below router configuration
[code]
So this configuration doesn't work if I use `react-router-dom 4.3.1`. I am having this Component to test the router functionality
[code]

If I click on the ` <Link to="/profile">profile</Link>`, the browser takes me to the "/profile" page, perfect. But now if I use the back/forward buttons of browser, the URL(even the redux state) gets changes but the

[2019-03-26 23:24] adamplabarge commented on #272
Have the same issue, tried a variety of versions, nothing seemed to work.

[2019-03-27 01:45] baronnoraz commented on #279
How did you get it to work with `react-router-dom`?  In my `package.json` I have a dependency on `connected-react-router 6.3.2` and `react-router-dom 5.0.0`.  Whenever I try to compile my code I get

[2019-03-27 02:17] endpointed opened #280 "Is there any way to use this library if I am not using combineReducers()?"
I am trying to fix my redux state to be a specific structure and `combineReducers()` does not work for the said purpose.

The documentation lacks any information as to why `combineReducers()` must be used, but it almost feels like either I use `combineReducers()` or I cannot use this library.

Is there any workaround?

[2019-03-27 03:05] Puspendert commented on #279
Please show your package.json

[2019-03-27 21:24] kmcrawford commented on #212
I'm using the connected-react-router v6 and still having the issue.

[2019-03-27 21:52] baronnoraz commented on #279
Here's my full package.json

[code]
The error that I get when I start the app is...

If I remove the `react-router-dom` dependencies and replace them with `react-router` dependencies.  Everything works fine.

[code]

My understanding from the ReactTraining site is that `react-router-dom` re-exports all of `react-router`'s exports and is what I should be using for web development (as opposed to `re

[2019-03-28 16:12] Alex1100 commented on #254
I ended up just ditching this and wrapping my App with `<BrowserRouter>`

[2019-03-29 15:41] jakub-astrahit opened #282 "createHashHistory stops working on version 5"
I use the connected-react-router on my Typescript project and when I upgraded my router to version 5, the createHashHistory stopped working - by that I mean when I run my app (npm start) and do a refresh of my app in the browser, I get duplicate hashtags in the URL

So for example on the homepage instead of staying at http://localhost:3002/#/ I get http://localhost:3002/#/#/ after refresh (after h

[2019-03-30 16:19] Austrie commented on #238
@yuliyan @abeledovictor I have the newest version of react-redux and I'm still experiencing this issue.

[code]

[2019-04-01 19:21] psdao1102 commented on #279
Not a contributor, but i had this exact problem. If i reference both react-router@5.0.0, and connected-react-router@6.2.1 and react-router-dom@5.0.0 in my package.json it seems to work.

[2019-04-01 19:23] Vahe83 opened #283 "dispatch(push('/sell/') and dispatch(goBack()) work differently"
I use react-router: ^4.3.1. When I dispatch(goBack()) from '/sell/addition' then my components don't render properly. But when use dispatch(push('/sell/') from '/sell/addition'  then components work fine.
What is issue?

[2019-04-02 08:52] Jcbobo commented on #230
I have same issue, the installations step seems to be ok (connectedRouter is present and hasn't other router below,  no pureComponenet are used, component are wrapped in withRouter), i see the action correctly dispatched but the state router is not updated (and of course also  url and page content are not updated)

same for push and goBack
[code]
[code]
[code]

package.json
[code]

[2019-04-02 14:09] foodforarabbit commented on #230
@Jcbobo

fyi my package.json

    "react": "16.7.0",
    "connected-react-router": "6.3.2",
    "react-dom": "16.7.0-alpha.0",
    "react-redux": "6.0.0",
    **"react-router-dom": "4.4.0-beta.7",**
    "redux-saga": "0.16.2",

Try upgrading your react-router-dom package actually, that was one of my last upgrades.

[2019-04-02 14:42] Jcbobo commented on #230
I already try but the issue is still there

[2019-04-02 17:13] patricklafrance commented on #280
Yes, you can. I dont use `combineReducers` in my projects and connected-react-router still works fine.

[code]

[2019-04-03 06:18] bugzpodder opened #284 "default redirect breaks from react-router 4.3.1 to 5.0.0"
https://codesandbox.io/s/53z3yryp8x

I have a <Redirect from="*" to="/" /> for a default route.
This breaks when I upgrade react-router from 4.3.1 to 5.0.0.

Maximum update depth exceeded.

I see a bunch of @@router/LOCATION_CHANGE
router: { location: { key"mgmiyb" -> "oyqf1a" } }

[2019-04-03 06:56] bugzpodder commented on #284
Found a workaround, moving the Redirect into Switch.

[2019-04-03 06:56] #284 closed

[2019-04-03 21:14] JiarongGu commented on #262
+1

[2019-04-04 09:41] Calamari commented on #271
So the short answer to your question would be: No. It's only the other way around. And in my humble opinion, something like that wouldn't be the concern of this package.

But providing functionality like this should not be that hard to implement writing an own redux-middleware.

[2019-04-04 11:08] Filipsi commented on #241
I am also having this problem, any updates on this?

[2019-04-04 11:09] Levino opened #285 "Outdated peer dep react-redux"
https://github.com/supasate/connected-react-router/blob/a8e92e6ee160b07876819219a8393816c9a000c4/package.json#L38

I guess this is now 7.0.0, right?

[2019-04-04 13:29] gautier-lefebvre commented on #285
Latest `react-redux` version is `6.0.1` 😄.

[2019-04-04 19:44] Levino commented on #285
Sorry, I got confused and thought that react-redux version 6 was used as a dev dep. Actually it is only the ts definitions that are in version 7, which is kinda wrong, but not really an issue I guess. https://github.com/supasate/connected-react-router/blob/a8e92e6ee160b07876819219a8393816c9a000c4/package.json#L49

Closing.

[2019-04-04 19:44] #285 closed

[2019-04-07 11:22] jamalmoir commented on #283
I am also experiencing similar behaviour - using react-redux.

goBack() does nothing, whereas push works as expected.

[2019-04-08 17:32] pachuka opened #286 "Typescript issue w/ 6.3.0+ w/ redux 4.0.1 & react-router(-dom) 5.0.0"
After upgrading connected-react-router from 6.2.2 -> 6.3.0+ starting to get the following typescript error when used in conjunction with dispatching the action via redux-observables. The error does not appear in 6.2.2.

Seems like it is having trouble resolving the push action with path and state vs. just location.

Error:
[code]

Usage:
[code]

Everything functionally seems to be working fine, so

[2019-04-08 20:46] lucastschmidt commented on #187
If anyone needs an example on how to listen for a route change and perform something, like emitting another action. Be aware of the distinctUntilChanged, since, it looks like on every state change is emitted that LOCATION CHANGE event.

[code]

the isRoute is just a filter, and the LOCATION_CHANGE_SUCCESS is `@@router/LOCATION_CHANGE`

[2019-04-09 08:59] OliverJAsh opened #287 "Support react-redux v7"
v7 just came out: https://github.com/reduxjs/react-redux/releases/tag/v7.0.1

Currently we're tied to v6: https://github.com/supasate/connected-react-router/blob/a8e92e6ee160b07876819219a8393816c9a000c4/package.json#L38

[2019-04-09 10:28] genexu opened #288 "Un-compatibility with react-router@^5.0.0"
I just try on react-router@^5.0.0 with connected-react-router@^6.3.2, it seem to be un-compatibility. <ConnectedRouter /> didn't pass router store to child component.

After downgrade react-router and react-router-dom pacakge version (@^4.3.4) everything working fine again.

![螢幕快照 2019-04-01 下午6 21 08](https://user-images.githubusercontent.com/20200209/55320952-074ae380-54ab-11e9-9df7-591593df851

[2019-04-09 16:34] bugzpodder commented on #288
When I ran into this, it was because react router and react router dom did not have the exact same version.  Double check you did.

[2019-04-09 18:31] Shawnxkwang opened #290 "NPM warning requires peer"
I have a warning when using 6.3.2 with react-router 5.0.0:
`npm WARN connected-react-router@6.3.2 requires a peer of react-router@^4.3.1 but none is installed. You must install peer dependencies yourself.`

Here's my package file:
`{
  "name": "app",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@emotion/core": "^10.0.9",
    "@emotion/styled": "^10.0.9",
    "connected-react-r

[2019-04-10 16:16] thehig commented on #288
I'm having a similar error. I resolved the `You should not use <X> outside a <Router>` for `<Route>`, `<Switch>`, `<Redirect>` by changing my imports from `react-router-dom` to `react-router`, however I can't figure out how to resolve the error for `<Link>`s

### Versions:

[code]

[2019-04-10 16:20] bugzpodder commented on #288
Can you do a yarn why or npm version to check the version of react-router and react-router-dom? Make sure not multiple version is installed.  You can also remove node_modules and reinstall.

[2019-04-11 09:20] jenko3000 commented on #290
same thing here... looks like everything is working fine but would be good to get rid of the warnings

[2019-04-11 10:24] thehig commented on #288
They're definitely the same version. Just did a clear out and reinstall of node_modules and am having the same error

![image](https://user-images.githubusercontent.com/96122/55950249-5a136080-5c4c-11e9-9078-fc5df20fbe01.png)

[2019-04-12 12:02] mthrsj commented on #241
Same here!

[2019-04-12 12:06] SuperCiacho opened #291 "Allow to use specific Router component"
I would like to use customized user confirmation popup.
Currently neither Router or ConnectedRouter component doesn't allow to that.
It would be nice to have possibility of using specific implementation of Router (MemoryRouter, BrowserRouter, etc.) with certain configuration or have **getUserConfirmation** property.

[2019-04-12 14:24] thehig commented on #288
I can't fully say what fixed it, but I deleted my package-lock.json and reinstalled (fixed some new bugs that were introduced) but then got this working.

[2019-04-12 14:53] lorenjohnson commented on #212
Just moved off of react-router to connected-react-router v6.(.3..2). We have an SSR setup and are running into the same issue.

[2019-04-12 20:54] mdebeus commented on #287
I am waiting for this as well - thank you for opening this.

[2019-04-14 22:32] supasate commented on #287
I tested and it seems like it's not backward compatible. I had no time to look through it yet, but, I think it may be related to the way it changed the subscription back from Context API to direct subscription (See #191 when it changed from direct subscription to Context API).

I'll take a look during the weekend. In the meantime, PR is welcome.

[2019-04-15 14:55] bmueller-sykes opened #292 "Problems upgrading to 6.4.0 with React Router 5.0.0"
Hi,

I'm getting an issue when I upgrade `connected-react-router` to `6.4.0` and `react-router` to `5.0.0`. The error is below. I downgraded `react-router` to `4.3.1`, and the error went away. (FWIW, I got the identical error with react-router 5 and connected-react-router 6.3.2)

I've spent some time stripping away elements of my app to see if this problem could be coming from somewhere else, and

[2019-04-15 16:28] wolfhoundjesse opened #293 "Update repo description to include v5"
The current description is "A Redux binding for React Router v4".

In the readme it's v4 and v5.

Thanks!

[2019-04-15 21:23] hgs-fredarters commented on #241
Same here.

[2019-04-15 21:54] gyto opened #294 "TypeError: Cannot read property 'location' of undefined with Redux-persist"
I am trying to get React app to work properly with React Router and Redux, but I constantly getting `TypeError: Cannot read property 'location' of undefined` to any components that have redux

**store/configureStore.js**

[code]

**reducers/index.js**

[code]

[2019-04-16 09:06] cmfcmf commented on #274
This has been fixed by #273 and released in react-router@6.4.0.

[2019-04-16 14:44] bugzpodder commented on #287
I upgraded to react-redux v7 and it seemed to work fine for me:
[code]

[2019-04-16 17:23] Puspendert commented on #274
@cmfcmf you mean **connected-react-router@6.4.0**? Is it a typo by you?

[2019-04-16 17:27] carloscuesta commented on #274
Yup, this issue should be closed, as @cmfcmf this change has landed at `6.4.0` and it's already released and published.

https://github.com/supasate/connected-react-router/releases/tag/v6.4.0

[2019-04-16 21:01] gyto commented on #294
I have posted same question on [stack overflow its here](https://stackoverflow.com/questions/55709775/redux-persist-and-connected-react-router-typeerror-cannot-read-property-locat)

[2019-04-16 21:01] #294 closed

[2019-04-17 14:16] austsinovich opened #295 "You should not use <Route> outside a <Router>"
After update react-router to version 5.0.0 and connectedReactRouter to version 6.4.0 still having an error in console:
Error: Invariant failed: You should not use <Route> outside a <Router>

[2019-04-17 15:36] bugzpodder commented on #295
I've ran into this issue before, make sure your react-router and react-router-dom are the same version (5.0) do a npm cache clean or yarn cache clean, remove node_modules and package-lock.json/yarn.lock and do a npm install/yarn install.

[2019-04-17 16:16] belgattitude commented on #287
@supasate First thanks for the work you put into connected-react-router. Really helpful !

For information, looks it works for me with react-redux 7. Sorry I could not go deeper in the internal changes. Seems too complex for me ;) Thx again for great work, it's appreciated

[2019-04-17 19:08] AlexandreArpin commented on #290
It was because `connected-react-router` didn't support `react-router` v.5.0.0 until version v6.4

So updating `react-router` to v5.0.0 while having a version of `connected-react-router` below v6.4 was for the most part, unsupported/at your own risks.

This has now been fixed. Just need to have at least v6.4 of `connected-react-router`

[2019-04-18 06:45] zsirfs commented on #212
@zdila My solution is following：

In the store:

[code]

isClient

[code]
in the client

[code]
The key is check the client or server, for difference env to create the store and history.

[2019-04-18 06:52] zdila commented on #212
@zsirfs I am using solution provided in https://github.com/supasate/connected-react-router/issues/212#issuecomment-449390810. But still old approach used to work in older versions of connected-react-router (react-router-redux).

[2019-04-18 08:34] zsirfs commented on #212
Ok, I am using my solution work well.

[2019-04-18 11:06] gugu opened #296 "Move immutable.js to peer dependencies"
Currently connected-react-router requires immutable v3 as dependency. If somebody uses immutable v4, both v3 and v4 are included in the bundle

[2019-04-20 23:27] dagda1 commented on #241
i have this problem with an ssr react project.  i saw another problem where the props apppeared to be replaced altogether with the router props

[2019-04-21 16:22] manuelkiessling opened #297 "Missing <Link> component?"
This is not neccessarily a problem with `connected-react-router` - chances are that I'm just not "getting it".

I've got everything set up and working beautifully. However, working with `onClick={() => push("/foo")}` everywhere felt like a step back from just using `<Link to="/foo">` from `react-router`. However, using `react-router`'s `Link` component no longer works - the browser navigates, but

[2019-04-22 10:01] jkarttunen commented on #292
I'm seeing a lot of unnecessary re-renders again.

[2019-04-22 14:03] bmueller-sykes commented on #292
@jkarttunen Is that related to the issue I'm seeing? Did you see the issue I ran into? If so, were you able to resolve it somehow?

[2019-04-22 19:19] fafamx commented on #296
And also it does so by including immutable.js instead of immutable.es.js which cause not supporting tree shaking at all.

[2019-04-23 00:58] chenyil commented on #297
I'm in the exact same situation. I followed every step here https://github.com/supasate/connected-react-router#usage

[2019-04-23 09:52] xesf commented on #279
Have the same issue while trying to use the latest versions:

"dependencies": {
        "@aspnet/signalr": "^1.1.4",
        "axios": "^0.18.0",
        "connected-react-router": "^6.4.0",
        "history": "^4.7.2",
        "iso-639-1": "^2.0.3",
        "moment": "2.24.0",
        "numbro": "^2.1.2",
        "prop-types": "^15.7.2",
        "querystring": "^0.2.0",
        "react": "^16.8.6",

[2019-04-23 13:29] baronnoraz commented on #279
I haven't had any issues as long as I include the `react-router` dependency.  `react-router` and `react-router-dom` should basically expose the same components. You shouldn't need both, but `connected-react-router` explicitly depends upon `react-router`.  What's the exact error message that you're getting?  Have you tried blowing away the `npm_modules` directory and re-installing all of the depend

[2019-04-23 14:48] xesf commented on #297
Usually when that happens it means that the history is not the same. Make sure you have the right setup on the history->store->provider->router

Anyway, I am still having troubles using the latest version of connected-react-route. I had to rollback to version 4.5.

[2019-04-24 08:00] ee0pdt commented on #287
Most of the changes in #191 seem to relate to documentation. If anything needs reverting to support v7 it shouldn't be too bad. And I'd also like to thank @supasate for your work on this project!

[2019-04-24 09:37] aenciso commented on #287
It is working for me with react-redux 7.0.2

[2019-04-25 08:28] Waltari10 opened #298 "Go down one step"
Hey,

How can I navigate down the path in Connected-react-router? I would like to go from:

"/one/two" to "/one/"

I cannot use "goBack" because that simply navigates to the previous path I have been on, and not necessarily one down. In essence I want to remove the latest part of the path and navigate to that.

[2019-04-25 11:28] manuelkiessling commented on #297
@xesf Wait, are you saying that react-router's Link component is actually supposed to work even if introducing connected-react-router into the mix?

[2019-04-25 12:14] preciselywilliam opened #299 "Back button updates selectors with params before route change happens"
Use case:
1. navigate to /items (ItemListPage)
2. navigate to /items/:itemId (ItemPage)
3. press browser back button

ItemPage:
[code]

getParams selector (psuedo-ish code):
[code]

When I press back button (step 3), the selector returns empty object, since no match was found. This rerenders ItemPage before the route change happens, which causes a propType warning (itemId undef).

What I expect to

[2019-04-25 18:59] kyle-mccarthy commented on #292
@bmueller-sykes are you also using `react-router-dom`? If so uninstall `react-router` and just use `react-router-dom`. I was having the same error because in some places I would use one lib and other places the other lib.

[2019-04-25 19:02] bmueller-sykes commented on #292
@kyle-mccarthy wait...you don't need both `react-router` and `react-router-dom`? huh. I'll give it a try!

[2019-04-25 19:10] kyle-mccarthy commented on #292
`react-router` is a dependency of `react-router-dom` so it will get pulled in already!

[2019-04-25 19:12] bmueller-sykes commented on #292
huh. well, as soon as I dig out of the error I'm under, I'll give it a whirl. Thanks!

[2019-04-25 20:24] bmueller-sykes commented on #292
@kyle-mccarthy Okay, I pulled out `react-router`, and upgraded to `react-router-dom` 5.0.0, and I get the same error. So unfortunately that's not the problem. Nuts.

[2019-04-25 22:36] robchristian commented on #258
Would also like to see some documentation surface. The readme leaves me thinking this library doesn't have support for route params.

[2019-04-25 23:55] robchristian commented on #200
You don't need thunks for this.

Just read from `state.router.location.pathname` in `mapStateToProps`. `.router` may have a different name for you, depending on your setup. Use redux devtools to see your state object.

<img width="322" alt="Screen Shot 2019-04-25 at 4 50 11 PM" src="https://user-images.githubusercontent.com/47836701/56775171-c6c54980-677a-11e9-8553-7dd3696901a7.png">

[2019-04-26 11:06] xesf commented on #279
Thanks for the reply.
Yeah, did all that but it turns out some of the libraries I was using had a dependency of an older version of react-router which was causing the module not to be loaded.

Using the latest versions now and it's working fine.

"dependencies": {
        "@aspnet/signalr": "1.1.2",
        "axios": "^0.18.0",
        "connected-react-router": "^6.4.0",
        "history": "4.7.2",

[2019-04-26 12:06] CycoPH commented on #159
Similar problem. Looked into the solutions listed above and they all stop working when you switch to the latest connected-react-router.
https://codesandbox.io/s/2190y39qxy

when loaded should point to /login but points to /

[2019-04-26 21:17] e-nouri opened #300 "routes are not synched with redux when changed using Link and such"
I spent 6 hours trying to figure this out, I setup a fresh react-create-app with redux, saga, redux persist and i added react router and was trying to sync it with redux, but i am pulling my hair right now, because i cannot find a solution and thee documentation is not very clear.

My goal is to controlling the navigation from the sagas, so i can port some of my react native code. here is my setup

[2019-04-28 09:59] xesf commented on #297
It always worked for me, even the old version.
I manage to upgrade all the versions now to the latest, expect reduz-saga and seems to be working just fine.

I have a component library that has the reference of Link from a Button component. The lib is then used in the apps which include the connected react router. I mainly use connected router to dispatch routes from sagas, while using Links in mos

[2019-04-28 14:14] veeramarni commented on #296
Or just use https://github.com/immerjs/immer instead of depending on immutable.js

[2019-04-28 16:19] zjr commented on #297
I had this problem because I had a `<BrowserRouter>` nested under my `<ConnectedRouter>`, you actually only should have the latter.

[2019-04-28 16:20] zjr commented on #297
https://github.com/supasate/connected-react-router/issues/230#issuecomment-476164384

[2019-04-29 21:27] chenyil commented on #297
@zjr thank u for pointing this out! I have my `<ConnectedRouter>` nested under a `<BrowserRouter>`, it's the other way around but I think it's basically the same problem.
I have to integrate with a react component wrapper that uses `BrowserRouter`, and the wrapper is a component, so I can't put a redux store in it. Does it mean I can't use `connected-react-router` as expected in my react/redux pro

[2019-04-30 10:39] fzaninotto opened #301 "Location state absent in LOCATION_CHANGE action"
React-router uses history's `location` object:

(see https://github.com/ReactTraining/history#listening)

connected-react-router only passes `pathname`, `search` and `hash` fields to the `LOCATION_CHANGE` action, and ignores the `state` and `key` fields.

https://github.com/supasate/connected-react-router/blob/37e90d7a55717046d4265f5832d3f9c8356e7db8/src/ConnectedRouter.js#L28-L49

As a consequenc

[2019-04-30 12:16] philipnilsson commented on #296
How come this library even has a dependency on immutable? I'd like to use this library, but do I need to ship essentially all of immutable.js just for that? Should I just look elsewhere if want something with a low bundle-size impact?

[2019-04-30 12:58] gugu commented on #296
Immutable will be included only if you will import `connected-react-router/immutable`

[2019-04-30 21:47] xesf commented on #297
@chenyil, you will have to remove the BrowserRoute has pointed in step 3 of the readme and make sure you have a share history with store and connected router.
Actually if tou follow the steps from the readme it should be enough to get it working.

[2019-04-30 22:19] chenyil commented on #297
Thank you, @xesf I can't remove`BrowserRouter` completely because I don't own that wrapper component. In addition to the setup step in the readme, I worked with the owner and came up with something like this. I hope this will help with other devs who have to integrate with a component that already uses `BrowserRouter`

Wrapper component:

`
render() {
  const { children, customRouter, customLocati

[2019-05-01 18:51] xesf commented on #297
The best choice will be to ask for an extension of customRouter to be an outside component, instead of a default div, if you cannot access either App or Wrapper components.